 {% if homepage_excerpt.vote_pledge.is_pledged? %}

  <h3>You
    {% if homepage_excerpt.vote_pledge.current_vote_pledge.is_no? %}
    pledged not
    {% elsif homepage_excerpt.vote_pledge.current_vote_pledge.is_unsure? %}
    said you were not sure whether
    {% elsif homepage_excerpt.vote_pledge.current_vote_pledge.is_yes? %}
    pledged
    {% endif %}
    to
    {% if homepage_excerpt.vote_pledge.current_vote_pledge.could_vote? %}
    vote for
    {% else %}
    support
    {% endif %}
    {{ site.candidate_first_name_or_site_name }}.
  </h3>

  <div class="padtop">
    {{ homepage_excerpt.vote_pledge.current_vote_pledge | delete_link message: "Remove pledge" class_name: "button destroy-link" }}
  </div>

  {% else %}

  <div class="form">
    <div class="form-errors">{% error_messages_for vote_pledge %}</div>
    <div id="vote_pledge_form" class="vote-pledge-form">

      <div class="row">
        <div class="columns">
          <a href="{{ homepage_excerpt.vote_pledge.yes_url }}" class="button submit-link get">Yes</a> I support {{ site.candidate_first_name_or_site_name }}.
        </div>
      </div>

      <div class="row padtopmore">
        <div class="columns">
          <a href="{{ homepage_excerpt.vote_pledge.unsure_url }}" class="button neutral-link get"> I might</a> support {{ site.candidate_first_name_or_site_name }},
          <a href="{{ site.full_url}}">tell me more</a>.
        </div>
      </div>

      <div class="row padtopmore">
        <div class="columns">
          <a href="{{ homepage_excerpt.vote_pledge.no_url }}" class="button destroy-link get">No</a> I do not support {{ site.candidate_first_name_or_site_name }}.
        </div>
      </div>

    </div>
  </div>


  {% if homepage_excerpt.text_keyword_instructions.size > 0 %}
  <div class="padbottom padtopmore">
    or {{ homepage_excerpt.text_keyword_instructions }}
  </div>
  {% endif %}

{% endif %}