{% if request.logged_in? %}
  {% if signup_follow.id != request.current_signup.id %}
    <td class="show-for-medium-up text-center">
      {% if signup_follow.following_ids contains request.current_signup.id %}
        <div class="is_following">{{ signup_follow.published_name }} is following you</div>
      {% else %}
      <div class="is_not_following">{{ signup_follow.published_name }} is not following you</div>
      {% endif %}
    </td>
    <td class="show-for-medium-up text-center">
      {% if request.current_signup.following_ids contains signup_follow.id %}<a href="{{ signup_follow.unfollow_url }}" class="button tiny delete">Unfollow</a>
      {% else %}
      <a href="{{ signup_follow.follow_url }}" class="button tiny post">Follow</a>
      {% endif %}
    </td>
  {% endif %}
{% endif %}