{% form_for vote_pledge %}  

<h4>
  Yes, I will
  {% if vote_pledge.could_vote? %}
  vote for
  {% else %}
  support
  {% endif %}
  {{ site.candidate_first_name_or_site_name }}.
</h4>

{% if page.vote_pledge.yes_content.size > 0 %}
{{ page.vote_pledge.yes_content }}
{% endif %}

{% hidden_field_tag "vote_pledge[will_vote_status]", 1 %}

<div class="form-errors">{% error_messages_for vote_pledge %}</div>

{% if request.logged_in? == true %}
{% else %}
  {% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
  <div class="row">
    <div class="small-6 medium-6 large-6 columns"><label for="vote_pledge_first_name">First Name</label>{% text_field "first_name", class:"text" %}</div>
    <div class="small-6 medium-6 large-6 columns"><label for="vote_pledge_last_name">Last Name</label>{% text_field "last_name", class:"text" %}</div>
  </div>
  {% endif %}
  
  {% if request.sorta_logged_in? == false %}
  <div class="row">
    <div class="medium-6 columns"><label for="vote_pledge_email">Email</label>{% email_field "email", class:"text" %}</div>
    {% if site.ask_for_mobiles? %}
    <div class="medium-6 columns"><label for="vote_pledge_mobile_number">Mobile phone (optional)</label>{% phone_field "mobile_number", class:"text" %}</div>
    {% endif %}
  </div>
  
  <div class="row">
    <div class="medium-6 columns"><label class="checkbox" for="vote_pledge_email_opt_in">{% check_box "email_opt_in", class:"checkbox" %} Send me email updates</label></div>
    {% if site.ask_for_mobiles? %}
    <div class="medium-6 columns"><label class="checkbox" for="vote_pledge_mobile_opt_in">{% check_box "mobile_opt_in", class:"checkbox" %} Send me text message updates</label></div>
    {% endif %}
  {% endif %}
  </div>
{% endif %}

{% if request.sorta_logged_in? == false or request.current_signup.has_full_address? == false %}
<div class="row">
  <div class="columns"><label for="vote_pledge_submitted_address">Address (Street, City, Postal code) -- to see if you can vote</label>{% text_field "submitted_address", class:"text" %}</div>
</div>
{% endif %}

{% if (request.sorta_logged_in? == false or request.current_signup.is_volunteer == false) and site.ask_for_volunteers? %}
<div class="row">
  <div class="columns"><label class="checkbox" for="vote_pledge_is_volunteer">{% check_box "is_volunteer", class:"checkbox" %} I want to volunteer</label></div>
</div>
{% endif %}

<div class="row">
  <div class="columns"><label for="vote_pledge_content">Comments (optional)</label>{% text_area "content", class:"textarea" %}</div>
</div>
{% if site.ask_to_publish_to_stream? %}
<div class="row">
  <div class="columns"><label class="checkbox" for="vote_pledge_is_private">{% check_box "is_private", class:"checkbox" %} Don't publish this on the website</label></div>
</div>
{% endif %}

{% submit_tag "Save pledge", class:"submit-button" %}
<div class="form-submit"></div>

{% endform_for %}