{{ recipient.first_name_or_friend }} --
<br/><br/>
Thank you for your RSVP{% if event_rsvp.guests_count > 0 %} +{{ event_rsvp.guests_count }}{% endif %}for a {{ page.parent.name }} {{ page.parent.calendar.event_name | downcase }}.
<br/><br/>
If you have any questions regarding this {{ page.parent.calendar.event_name | downcase }}, please contact the host, {{ page.event.contact_name }} directly.  This {{ page.parent.calendar.event_name | downcase }} was posted by the host (not us), so we don't have any further information about it.  We do not do any vetting, so please use your best judgment; if it seems sketchy, be careful, and if it's a scam, email us and we will remove it from the site.
<br/><br/>
Host: {{ page.event.contact_name }} <br/>
Email: {{ page.event.contact_email }}<br/>
Phone: {{ page.event.contact_phone }}<br/>
<br/>
{% include "mailing_event" %}
<br/><br/>
{% if page.event.content.size > 0 %}
{{ page.event.content_for_mailinng }}
<br/><br/>
{% endif %}
If you need to update or cancel your RSVP, use this link:
<br/><br/>
<a href="{{ edit_url }}">{{ edit_url }}</a>
<br/><br/>
And you can invite others to join you at the event with this link:
<br/><br/>
<a href="{{ page_url }}">{{ page_url }}</a>
<br/><br/>
{{ broadcaster.name }}<br/>
<a href="{{ site.full_url }}">{{ site.full_url }}</a><br/>