{% form_for flag %}

  <div class="form-wrap">
	<div class="form">

		<div class="form_errors">{% error_messages_for flag %}</div>

		{% hidden_field_tag "flag[comment_id]", comment.id %}
		{% hidden_field_tag "flag[page_id]", page.id %}

    {% if site.has_rule_page? %}
    <div class="row">

	    <div class="columns">
	      <label for="flag_rule_id">Which rule was violated</label>
	      {% collection_select "rule_id", site.rule_page.rule.rules_collection, class:"select" %}
	    </div>

  	</div>
    {% endif %}

    <div class="row">

			<div class="columns">
				<label for="flag_content">Explanation (optional)</label>{% text_area "content", class:"textarea autogrow" %}
			</div>

		</div>

			{% submit_tag "Flag this comment", class:"submit-button" %}
			<div class="form_submit"></div>

		<div class="row padtopmore">
			<div class="columns">Flagging comment from {{ comment.signup.published_name_linked }}</div>
		</div>

    <div class="text-content">
    {{ comment.content_html }}
    </div>

	</div>
	</div>

{% endform_for %}