<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Begin Page Title -->
  <title>{{ page_title }}</title>
  <!-- End Page Title -->

  <!-- Begin Stylesheets -->
  <link rel="stylesheet" href="style.min.css" />
  <link rel="stylesheet" href="custom.css" />
  {% comment %}Remove this stylesheet before using this theme{% endcomment %}<link href="//cdn.symbolset.com/5691ecb2e617628aefd8f9eb233dd6a126d55857/symbolset.css" rel="stylesheet">
  <!-- End Stylesheets -->

  <script src="modernizr.js"></script>

  <!-- Begin NationBuilder’s “Content For Header” Include -->
  {{ content_for_header }}

  <script type="text/javascript">
    NB.appConfig.userIsLoggedIn = {{request.logged_in?}};
  </script>
  <!-- End NationBuilder’s “Content For Header” Include -->
</head>
<body id="{{ page.slug }}" class="antialiased">

  <!-- Begin Nav Bar -->
  {% include "nav" %}
  <!-- End Nav Bar -->

  <!-- Begin Main Page Content and Sidebar -->
  <div id="{% if request.is_sidebar? %}columns-2{% else %}columns-1{% endif %}">
      {% if request.is_sidebar? %}
      {% include "columns_2" %}
      {% else %}
      {% include "columns_1" %}
      {% endif %}
  </div>
  <!-- End Main Content and Sidebar -->

  <!-- Begin Footer -->
  <footer>
    <div class="row">
      <div class="large-12 columns">
        <hr />
        <div class="row">
          <div class="large-6 columns">{{ site.footer_content }}</div>
          <div class="large-6 columns">
            <p class="right">
              {% if request.logged_in? %}
                Hi
              <a href="{{ request.current_signup.settings_url }}">{{ request.current_signup.name_or_email }}</a>
              . View your
                {% if site.show_public_profiles? %}
              <a href="{{ request.current_signup.profile_url }}">public profile</a>
              ,
                {% endif %}
              <a href="{{ request.current_signup.settings_url }}">account settings</a>
              , or
              <a href="{{ request.current_signup.logout_url }}">sign out</a>
              .
              {% else %}
                Sign in with
              <a href="{{ request.facebook_connect_url }}">Facebook</a>
              ,
              <a href="{{ request.twitter_connect_url }}">Twitter</a>
              or
              <a href="/login">email</a>
              .
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <!-- The NationBuilder link below is required. If it is removed, we may add it back ourselves.
                     You can style it or move it in different ways, but please leave it in the footer. -->
        <p class="text-center">
          <small>
            Created with
            <a href="http://nationbuilder.com">NationBuilder</a>
          </small>
        </p>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <!-- Begin Javascript -->
  <script src="foundation.js"></script>
  <script src="foundation.alert.js"></script>
  <script src="foundation.interchange.js"></script>
  <script src="foundation.orbit.js"></script>
  <script src="foundation.reveal.js"></script>
  <script src="foundation.topbar.js"></script>
  <script>$(document).foundation();</script>
  {% comment %}Remove this javascript before using this theme{% endcomment %}<script src="//cdn.symbolset.com/5691ecb2e617628aefd8f9eb233dd6a126d55857/symbolset.js"></script>
  <script type="text/javascript" src="jquery.ui.effect-slide.min.js"></script>
  {% comment %}Remove this javascript before using this theme{% endcomment %}<script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '536789988bfdf77006001e7f');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
  <!-- End Javascript -->

  <!-- Begin NationBuilder’s “Content For Footer” Include -->
  {{ content_for_footer }}
  <!-- End NationBuilder’s “Content For Footer” Include -->
</body>
</html>