<!doctype html>
<!-- Conditional comment for mobile ie7 http://blogs.msdn.com/b/iemobile/ -->
<!-- Appcache Facts http://appcachefacts.info/ -->
<!--[if IEMobile 7 ]>    <html class="no-js iem7" manifest="default.appcache?v=1"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" manifest="default.appcache?v=1"> <!--<![endif]-->

<head>
  <meta charset="utf-8"/>

  <title>{{ page_title }}</title>
  
  <meta name="HandheldFriendly" content="True"/>
  <meta name="MobileOptimized" content="320"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="cleartype" content="on"/>
  <link rel="stylesheet" href="theme.scss" type="text/css" />

  {{ content_for_header }}
</head>

<body>
  {{ content_for_notifications }}

  <div class="container">
	
    <div id="header">
	{% if site.has_meta_image? %}
		<a href="/"><img src="{{ site.meta_image_medium_url }}" id="site_image" width="40" height="40" border="0" /></a>
    {% endif %}
	<div class="headline"><h1><a href="/">{{ site.long_name }}</a></h1></div>
 		</div>
		
		<div class="header_nav">
			<ul>
				<li><a href="{{ site.mobile_menu_url }}">Menu</a></li>
			{% if site.has_button1? %}
				<li><a href="{{ site.button1_page.full_url_with_profile_recruiter }}">{{ site.button1_text }}</a></li>
			{% endif %}
			{% if site.has_button2? %}
				<li><a href="{{ site.button2_page.full_url_with_profile_recruiter }}">{{ site.button2_text }}</a></li>
			{% endif %}
			{% if site.has_button3? %}
				<li><a href="{{ site.button3_page.full_url_with_profile_recruiter }}">{{ site.button3_text }}</a></li>
			{% endif %}
			{% if request.logged_in? %}
				<li><a href="{{ request.current_signup.settings_url }}">{{ request.current_signup.name_or_email }}</a></li>
			{% else %}
				<li><a href="/login">Sign in</a></li>
		  {% endif %}
			</ul>
		</div>
			
    <div id="main" role="main">
			{% include "columns_1" %}
    </div>
    {{ content_for_footer }}
			<div id="footer_container">
				Find us on: 
				{% if site.has_facebook_page? %}<a href="{{ site.broadcaster.facebook_page_profile_url }}">Facebook</a>{% endif %}
				{% if site.has_facebook_page? and site.has_twitter? %} and {% endif %}
				{% if site.has_twitter? %}<a href="{{ site.broadcaster.twitter_profile_url }}">Twitter</a>{% endif %}
				<hr/>
				<div class="footer_left">
					{% if request.logged_in? %}
						<a href="{{ request.current_signup.logout_url }}">Sign out</a>
					{% else %}
						<a href="/login">Sign in</a>
				  {% endif %}	
				</div>

					<!-- The NationBuilder link below is required. 
					If it is removed, we may add it back ourselves.
					You can style it or move it, but please leave 
					it in the footer. -->
					<div class="footer_right">
						Created with <a href="http://www.nationbuilder.com">NationBuilder</a>
					</div>
				</div>
		</div>

		<script src="/assets/liquid-mobile.js"></script>
		<script>
		  $(function(){
		    new NB.Liquid.Mobile();
		  });
		</script>
	</body>
</html>
