<div class="padcontainer">


	
<div class="content_container">

{% if page.headline.size > 0 %}
	<div id="headline">
		<h2>{{ page.headline }}</h2>
	</div>
{% endif %}

<div id="content">

	<div class="padtop padbottom">
		You have <b>{{ request.current_signup.followers_count }}</b> followers.
	</div>

	{% for follower in request.current_signup.followers %}
	  {% assign signup = follower.follower %}
	  {% include "signup_show" %}
	  <div class="clear"></div>
		<hr />
	{% endfor %}

	{{ request.current_signup.followers | paginate }}

</div>