{% if page.headline.size > 0 and page.blog.is_posting_public? %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}
<div id="content">
  {% if page.blog.is_posting_public? %}
  <div class="padbottommore">
    <div class="form-wrap">
      <div class="form">
        {% form_for blog_post_page %}
        <div class="form-errors">{% error_messages_for blog_post_page %}</div>

        <div id="blog-post-page-page-headline-input" class="blog-post-page-page-headline-input">
          {% text_field "page_headline", class:"text", placeholder: "{{ page.blog.public_posting_prompt }}" %}
        </div>

        <div id="blog-post-page-form-expanded" class="blog-post-page-form-expanded hide">
          <div class="padtopmore">{% text_area "content_editable", class:"textarea-tinymce" %}</div>
          <div class="padtop">
            {% submit_tag "Post", class:"submit-button" %}
            <div class="form-submit"></div>
          </div>
        </div>
        {% endform_for %}
      </div>
      {% unless request.logged_in? %}
      <div class="user-session-form-container hide">{% include "user_session_form" %}</div>
      {% endunless %}
    </div>
  </div>
  {% endif %}
  <div class="blog" id="blog-page-{{ page.id }}">
    {% for post in page.blog.most_recent_blog_posts %}
    <div class="page-excerpt" id="blog-post-page-{{ post.id }}">
      <h2>
        <a href="{{ post.url }}">{{ post.headline }}</a>
      </h2>

      <div class="byline">
        Posted by {{ post.author.published_name_linked }} &middot; {{ post.published_at | date: '%B %d, %Y %l:%M %p' }}
      </div>

      <div class="excerpt">
        {{ post.blog_post.content }}
        {% if post.blog_post.is_extended? %}
        <a href="{{ post.url }}" class="button small">Read more</a>
        {% endif %}
      </div>
    </div>

    {% if forloop.last %}{% else %}<div class="section">
      <hr></div>{% endif %}
    {% endfor %}
  </div>
  {{ page.blog.most_recent_blog_posts | paginate prev_label: "&laquo;" next_label: "&raquo;" }}
</div>