<div class="padcontainer">



{% if page.show_stream? %}
	{% if page.public_activities_count > 0 or page.is_commentable? %}
		<div class="content_container_top">
	{% else %}
		<div class="content_container">
	{% endif %}
	{% else %}
		<div class="content_container">
{% endif %}

{% if page.headline.size > 0 %}
	<div id="headline">
	  <h2>{{ page.headline }}</h2>
	</div>
{% endif %}

{% if request.current_user and request.current_user.is_member? %}

<p>Thank you for being a member. Your membership details are below.</p>

  <div id="content">

	<div class="mstatus_wrap">
		<div class="stat-box "><div class="stat-box-inner">
			<div class="stat">{{ request.current_user.membership_level_name }}</div>
			<div class="label">Level</div>
		</div></div>

		<div class="stat-box "><div class="stat-box-inner">
			<div class="stat">{{ request.current_user.membership_started_at | date_to_long_string }}</div>
			<div class="label">Started</div>
		</div></div>

		{% if request.current_user.has_auto_renewing_membership? %}

  		<div class="stat-box "><div class="stat-box-inner">
  			<div class="stat">{{ request.current_user.membership_next_bill_date | date_to_long_string }}</div>
  			<div class="label">
  				Next bill date
  			</div>
  		</div></div>

		{% else %}

  		<div class="stat-box "><div class="stat-box-inner">
  			<div class="stat">{{ request.current_user.membership_expires_at | date_to_long_string }}</div>
  			<div class="label">
  				Expires
  			</div>
  		</div></div>

		{% endif %}

		{% if request.current_user.has_auto_renewing_membership? %}
		<div class="stat-box "><div class="stat-box-inner">
			<div class="stat">{{ request.current_user.membership_renewal_info }}</div>
			<div class="label">Automatically billed</div>
		</div></div>

		<div class="stat-box "><div class="stat-box-inner">
			<div class="stat">{{ request.current_user.membership_next_bill_date | days_until }} days</div>
			<div class="label">Until next bill</div>
		</div></div>
		{% endif %}

		</div>

		</div>
    {% if request.current_user.has_auto_renewing_membership? %}
		<div class="padtopmore">
			<div class="destroy_link">{{ request.current_user.cancel_membership_url || gen_delete_link message: "Cancel Membership" }}</div>
		</div>
    {% endif %}
  </div>
{% else %}

<div id="content">

	{% if page.paid_membership.content.size > 0 %}
	  <div id="intro">
	    {{ page.paid_membership.content }}
	  </div>
	{% endif %}

  <div class="padtop">
  	{% for membership_option in page.paid_membership.membership_options %}

      {% cycle '<div class="member_float_wide clear">', '<div class="member_float_wide">', '<div class="member_float_wide">', '<div class="member_float_wide" style="margin-right: 0px;">' %}
      	<div class="member_wrap_wide">
      	  <h3>{{ membership_option.membership_level_name }}</h3>
      	    <div class="padtopless padbottomless">
      	      {% if membership_option.auto_renew? %}
        	      <b>{{ membership_option.amount }}</b> every {{ membership_option.num_time_periods }} {{ membership_option.time_period_type }}
        	    {% else %}
        	      <b>{{ membership_option.amount }}</b> for {{ membership_option.num_time_periods }} {{ membership_option.time_period_type }}
        	    {% endif %}
        	  </div>
        	  {% if membership_option.has_membership_level_badge %}
        	    <span class="badge">{{ membership_option.membership_level_badge }}</span>
        	  {% endif %}
        	    <hr />
          	  <div class="member_blurb">{{ membership_option.description }}</div>
      	  <div class="padtopmore submit_link_wrap">
        	  <div class="submit_link"><a href="{{ membership_option.purchase_url }}">Purchase</a></div>
      	  </div>
      	</div>
      {% cycle '</div>', '</div>', '</div>', '</div>' %}

	  {% endfor %}
  </div>
  <div class="clear"></div>

	</div>

	{% if page.tags_count > 0 %}
		<div id="page_tags">
			{% include "page_tags" with page %}
		</div>
	{% endif %}

	{% if page.show_stream? %}
		{% if page.public_activities_count > 0 or page.is_commentable? %}
			</div> <!-- end content_container_top -->
		{% endif %}
	  {% include "page_stream" %}
		{% else %}
			</div> <!-- end content_container -->
	{% endif %}
</div>

{% endif %}
