<div class="row">
  <div class="large-12 medium-12 small-12 columns">

    {% if page.headline.size > 0 %}
    <h2 class="headline">{{ page.headline }}</h2>
    {% endif %}
    <div id="content">
      {% if page.petition.intro.size > 0 %}
      <div id="intro" class="intro">{{ page.petition.intro }}</div>
      {% endif %}

{% if page.petition.content.size > 0 %}
      <div id="petition-content">{{ page.petition.content }}</div>
      {% endif %}


{% if page.petition.has_goal? %}
{% assign thermo_width = 50 %}
      <div class="clearfix">
        <div class="progress" style="width: {{ thermo_width }}%;">
          <div class="bar bar-success" style="width: {{ page.petition.percent_of_goal | times:100 }}%;">
            {% if page.petition.signatures_count < 2 %}
      <div class="bar-text">JUST STARTED</div>
            {% else %}
            <div class="bar-text">
              {{ page.petition.signatures_count | number_with_commas }} {{ page.petition.signature_name | pluralize | upcase }}
            </div>
            {% endif %}
          </div>
        </div>
        <div class="bar-goal">
          {{ page.petition.goal | number_with_commas }} {{ page.petition.signature_name | pluralize | downcase }}
        </div>
      </div>
      {% elsif page.petition.signatures_count > 4 %}
      <div class="bar-goal">
        {{ page.petition.signatures_count | number_with_commas }} {{ page.petition.signature_name | pluralize | downcase }}
      </div>
      {% endif %}

{% if page.petition.is_signed? %}

{% form_for petition_signature %}
      <div class="form-wrap">
        <div class="form">

          <h3>Thank you for signing!</h3>

          <div class="form-errors">{% error_messages_for petition_signatures %}</div>
          {% if page.is_commentable? %}
          <label for="petition_signature_content">Change your comment</label>
          {% text_area "content", class:"textarea autogrow" %}
    {% endif %}

    {% if page.petition.is_image? %}
          <label for="petition_signature_image">Upload a picture (140x140)</label>
          {% file_field "image", class:"file" %}
    {% if petition_signature.has_image? %}
          <p>
            <img src="{{ petition_signature.large_square_image_url }}" width="140" height="140" border="0"/>
          </p>
          {% endif %}
    {% endif %}

    {% if page.is_commentable? %}
    {% capture signature_name %}Update {{ page.petition.signature_name }}{% endcapture %}
    {% submit_tag signature_name, class:"submit-button" %} &nbsp;
    {% endif %}

    {% capture signature_name %}Remove {{ page.petition.signature_name }}{% endcapture %}
    {{ page.petition.current_signature | delete_link message: signature_name class_name: "button destroy-link" }}
          <div class="form-submit"></div>

        </div>
        {% endform_for %}
      </div>
      {% else %}

{% form_for petition_signature %}
      <div class="form-wrap">
        <div class="form">
          {% if request.sorta_logged_in? %}
          <div class="text-content padbottommore">
            <h4>
              Hi {{ request.current_signup.name_or_email }}, will you sign?
            </h4>
          </div>
          {% if request.logged_in? == false %}
          <div class="padtop text-content">
            If you're not {{ request.current_signup.name_or_email }},
            <a href="{{ request.current_signup.logout_url }}">click here</a>
            .
          </div>
          {% endif %}

    {% else %}
          <h4>Will you sign?</h4>
          {% endif %}
          <div class="form-errors">{% error_messages_for petition_signature %}</div>
          {% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
          <div class="row padtopmore">

            <div class="small-6 medium-6 columns">
              <label for="petition_signature_first_name">First Name</label>
              {% text_field "first_name", class:"text" %}
            </div>
            <div class="small-6 medium-6 columns">
              <label for="petition_signature_last_name">Last Name</label>
              {% text_field "last_name", class:"text" %}
            </div>

          </div>
          {% endif %}

    {% if request.sorta_logged_in? == false %}
          <div class="row">

            <div class="medium-6 columns">
              <label for="petition_signature_email">Email</label>
              {% email_field "email", class:"text" %}
            </div>
            {% if site.ask_for_mobiles? %}
            <div class="medium-6 columns">
              <label for="petition_signature_mobile_number">Mobile phone</label>
              {% phone_field "mobile_number", class:"text" %}
            </div>
            {% endif %}
          </div>

          <div class="row">

            <div class="medium-6 columns">
              <label class="checkbox" for="petition_signature_email_opt_in">
                {% check_box "email_opt_in", class:"checkbox" %} Send me email updates
              </label>
            </div>
            {% if site.ask_for_mobiles? %}
            <div class="medium-6 columns">
              <label class="checkbox" for="petition_signature_mobile_opt_in">
                {% check_box "mobile_opt_in", class:"checkbox" %} Send me text message updates
              </label>
            </div>
            {% endif %}
          </div>
          {% endif %}

    {% if page.petition.is_phone? %}
          <div class="row">

            <div class="columns">
              <label for="petition_signature_phone_number">Phone</label>
              {% phone_field "phone_number", class:"text" %}
            </div>

          </div>
          {% endif %}

    {% if page.petition.is_address? %}
    {% if request.sorta_logged_in? == false or request.current_signup.has_full_address? == false %}
          <div class="row">

            <div class="medium-6 columns">
              <label for="petition_signature_submitted_address">Address (Street, City, State, Zip code)</label>
              {% text_field "submitted_address", class:"text", required: "required" %}
            </div>

            <div class="medium-6 columns">
              <label for="petition_signature_country_code">Country</label>
              {% collection_select "country_code", page.petition.countries, "code", "name", class:"select" %}
            </div>

          </div>
          {% endif %}
    {% endif %}
    {% if page.is_commentable? %}
          <div class="row">

            <div class="columns">
              <label for="petition_signature_content">Comments (optional)</label>
              {% text_area "content", class:"textarea autogrow" %}
            </div>

          </div>
          {% endif %}

    {% if page.petition.is_image? %}
          <div class="row">

            <div class="columns">
              <label for="petition_signature_image">Upload a picture (140x140)</label>
              {% file_field "image", class:"file" %}
            </div>

          </div>
          {% endif %}

    {% if site.ask_to_publish_to_stream? %}
          <div class="row">

            <div class="columns">
              <label class="checkbox" for="petition_signature_is_private">
                {% check_box "is_private", class:"checkbox" %} Don't publish this on the website
              </label>
            </div>

          </div>
          {% endif %}

    {% if page.petition.is_volunteer? and site.ask_for_volunteers? %}
    {% if request.sorta_logged_in? == false or request.current_signup.is_volunteer == false %}
          <div class="row">

            <div class="columns">
              <label class="checkbox" for="petition_signature_is_volunteer">
                {% check_box "is_volunteer", class:"checkbox" %} I want to volunteer
              </label>
            </div>

          </div>
          {% endif %}
    {% endif %}

    {% capture signature_name %}Add {{ page.petition.signature_name }}{% endcapture %}
    {% submit_tag signature_name, class:"submit-button" %}
          <div class="form-submit"></div>

        </div>
        {% endform_for %}

  {% if page.text_keyword_instructions.size > 0 %}
        <div class="padbottom padtopmore">or {{ page.text_keyword_instructions }}</div>
        {% endif %}
      </div>
      {% endif %}

{% if page.tags_count > 0 %}
      <div id="page-tags" class="page-tags">{% include "page_tags" with page %}</div>
      {% endif %}
      <div class="like-page"> <strong>Share this page:</strong>
        {% include "like_page" %}
      </div>
      {% if page.petition.is_image? and page.petition.signatures_with_images.size > 0 %}
      <div class="padtop">
        {% for signature in page.petition.signatures_with_images limit:4 %}
        <img src="{{ signature.large_square_image_url }}" width="140" height="140">{% endfor %}</div>
      {% endif %}

{% if page.show_stream? %}
{% include "page_stream" %}
{% endif %}
    </div>
  </div>
</div>