

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">
	
  {% if page.rule.content.size > 0 %}
  <div id="intro" class="intro">
    {{ page.rule.content }}
  </div>
  {% endif %}

  <ol class="rule-list">
    {% for rule in page.rule.rules %}
      <li><div class="rule">{{ rule.name }}</div> {{ rule.content }}</li>
    {% endfor %}
  </ol>

  {% if page.tags_count > 0 %}
    <div class="page-tags">
      {% include "page_tags" with page %}
    </div>
  {% endif %}

  <div class="like-page">
    <strong>Do you like this?</strong>
    {% include "like_page" %}
  </div>

  {% if page.show_stream? %}
    {% include "page_stream" %}
  {% endif %}

</div>