

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">

  {% if page.signup.content.size > 0 %}
  <div id="intro" class="intro">
    {{ page.signup.content }}
  </div>
  {% endif %}

  <div class="form-wrap">
    <div class="form">

      {% form_for signup %}

      {% if request.sorta_logged_in? %}
        <h4>Hi {{ request.current_signup.name_or_email }}, thanks for joining!</h4>

      {% if request.logged_in? == false %}
        <div class="padbottommore"><small>If you're not {{ request.current_signup.name_or_email }}, <a href="{{ request.current_signup.logout_url }}">click here to signup</a>.</small></div>
      {% endif %}

      {% endif %}

      <div class="form-errors">{% error_messages_for signup %}</div>

        {% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
        <div class="row">
          <div class="small-6 columns"><label for="signup_first_name">First Name</label>{% text_field "first_name", class:"text" %}</div>
          <div class="small-6 columns"><label for="signup_last_name">Last Name</label>{% text_field "last_name", class:"text" %}</div>
        </div>
        {% endif %}

        {% if request.sorta_logged_in? == false or request.current_signup.has_mobile? == false %}
        <div class="row">
          <div class="medium-6 columns"><label for="signup_email">Email</label>{% email_field "email", class:"text" %}</div>
          {% if site.ask_for_mobiles? %}
          <div class="medium-6 columns"><label for="signup_mobile_number">Mobile phone</label>{% phone_field "mobile_number", class:"text" %}</div>
          {% endif %}
        </div>


        <div class="row">
          <div class="medium-6 columns"><label class="checkbox" for="signup_email_opt_in">{% check_box "email_opt_in", class:"checkbox" %} Send me email updates</label></div>
          {% if site.ask_for_mobiles? %}
          <div class="medium-6 columns"><label class="checkbox" for="signup_mobile_opt_in">{% check_box "mobile_opt_in", class:"checkbox" %} Send me text message updates</label></div>
          {% endif %}
        </div>
        {% endif %}

        {% if page.signup.is_phone? %}
        <div class="row">
          <div class="columns"><label for="signup_phone_number">Phone</label>{% phone_field "phone_number", class:"text" %}</div>
        </div>
        {% endif %}

      {% if page.signup.is_address? %}
      <div class="row">

      {% if request.sorta_logged_in? == false or request.current_signup.has_full_address? == false %}

          <div class="medium-6 columns"><label for="signup_submitted_address">Address (Street, City, State, Zip code)</label>{% text_field "submitted_address", class:"text" %}</div>
          <div class="medium-6 columns"><label for="signup_country_code">Country</label>{% collection_select "country_code", page.signup.countries, "code", "name", class:"select" %}</div>
      {% endif %}

      </div>
      {% endif %}

      {% if page.signup.has_optional_tags? %}
      <div class="row">
        <div class="columns"><label for="signup_optional_tag">Choose one</label>{% collection_select "optional_tag", page.signup.optional_tags, class:"select" %}</div>
      </div>
      {% endif %}

      {% if page.signup.is_volunteers? and site.ask_for_volunteers? %}
      {% if request.sorta_logged_in? == false or request.current_signup.is_volunteer == false %}
      <div class="row">
        <div class="columns"><label class="checkbox" for="signup_is_volunteer">{% check_box "is_volunteer", class:"checkbox" %} I want to volunteer</label></div>
      </div>
      {% endif %}
      {% endif %}

      {% if page.signup.is_all_info_collected? == false %}
      {% if request.sorta_logged_in? %}
      {% submit_tag "Update info", class:"submit-button" %}
      {% else %}
      {% submit_tag "Signup", class:"submit-button" %}
      {% endif %}
      {% endif %}
      <div class="form-submit"></div>

      {% endform_for %}

      {% if page.text_keyword_instructions.size > 0 %}
      <div class="row padbottom padtopmore">
        <div class="columns">
        or {{ page.text_keyword_instructions }}
        </div>
      </div>
      {% endif %}


    </div>
  </div>
</div>

  {% if page.tags_count > 0 %}
  <div id="page-tags" class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  <div class="like-page">
    <strong>Share this page:</strong>
    {% include "like_page" %}
  </div>

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}
