<div class="padcontainer">



{% if page.show_stream? %}
	{% if page.public_activities_count > 0 or page.is_commentable? %}
		<div class="content_container_top">
	{% else %}
		<div class="content_container">
	{% endif %}
	{% else %}
		<div class="content_container">
{% endif %}

{% if page.headline.size > 0 %}
	
	<div id="headline">

		<h2>{{ page.headline }}</h2>

		{% if page.has_author? %}
		  {% include "page_byline" %}
		{% endif %}

	</div>
{% endif %}

<div id="content">
	
	  <div id="intro">
	    {% if page.suggestion.content.size > 0 %}
	      {{ page.suggestion.content }}
	    {% else %}
	      <p>
	    {% endif %}
	
			{% if page.suggestion.is_answered? %}
				<div class="answer"> 
					<div>
						<b>
							Official response from {{ page.suggestion.answer_author.published_name_linked }}
							{% if page.suggestion.is_answer_type? %}
								{{ page.suggestion.answer_type_html }}
							{% endif %}
						</b>
					</div>
					<div class="answer_wrap">{% if page.suggestion.answer.size > 0 %}{{ page.suggestion.answer }}{% else %}<p></p>{% endif %}</div>
				</div>
			{% endif %}
	  </div>

		<div id="tag_page">
		  <b>How would you tag this suggestion?</b>
		  <div class="tags padtop padbottom">
		      {{ page.suggestion.tag_list_html }}
		  </div>
		</div>
		
		{% if page.tags_count > 0 %}
			<div id="page_tags">
				{% include "page_tags" with page %}
			</div>
		{% endif %}

		<div class="padbottom padtop">
			<div id="like_page">
				<b>Do you like this suggestion?</b>
			  {% include "like_page_mobile" %}
			</div>
		</div>

		</div>

		{% if page.show_stream? %}
			{% if page.public_activities_count > 0 or page.is_commentable? %}
				</div> <!-- end content_container_top -->	
			{% endif %}
		  {% include "page_stream" %}
			{% else %}
				</div> <!-- end content_container -->	
		{% endif %}	
		
</div>