<div class="padcontainer">



<div class="content_container">

{% if page.headline.size > 0 %}
	<div id="headline">
		<h2>{{ page.headline }}</h2>
	</div>
{% endif %}

<div id="content">

	<div class="padtop padbottom">
	You are following <b>{{ request.current_signup.followings_count }}</b> people.
	{% if site.has_friends_page? %}

	  {% if request.current_signup.has_facebook_authorization? == false %}

	    <div class="padtop">
	    <img src="{{ "indicator_red.png" | asset_path }}" width="13" height="13" class="dashboard_icon" style="padding-bottom: 1px;" /> <b>You have <i>not</i> connected your Facebook account.</b>
	    {% comment %}
	    <span class="pc">+1pc</span> <span class="pc_details">per person who follows you</span>
	    {% endcomment %}
	    <div style="padding: 5px 0 5px 23px;"><a href="{{ request.facebook_connect_url }}"><img src="{{ "signin_with_facebook.png" | asset_path }}"></a></div>
	  </div>

	  {% endif %}

	  {% if request.current_signup.has_twitter_authorization? == false %}

	    <div class="padtop">
	    <img src="{{ "indicator_red.png" | asset_path }}" width="13" height="13" class="dashboard_icon" style="padding-bottom: 1px;" /> <b>You have <i>not</i> connected your Twitter account.</b>
	    {% comment %}
	    <span class="pc">+1pc</span> <span class="pc_details">per person who follows you</span>
	    {% endcomment %}
	    <div style="padding: 5px 0 5px 23px;"><a href="{{ request.twitter_connect_url }}"><img src="{{ "signin_with_twitter.png" | asset_path }}"></a></div>
	    </div>

	  {% endif %}

	{% endif %}

	</div>

	{% for following in request.current_signup.followings %}
	  {% assign signup = following.following %}
	  {% include "signup_show" %}
		<div class="clear"></div>
		<hr />
	{% endfor %}

	{{ request.current_signup.followings | paginate }}

</div>