<div class="padcontainer">



{% if page.show_stream? %}
	{% if page.public_activities_count > 0 or page.is_commentable? %}
		<div class="content_container_top">
	{% else %}
		<div class="content_container">
	{% endif %}
	{% else %}
		<div class="content_container">
{% endif %}

{% if page.headline.size > 0 %}
	<div id="headline">
		<h2>{{ page.headline }}</h2>
	</div>
{% endif %}

<div id="content">

	{% if page.faq.content.size > 0 %}
	  <div id="intro">
	    {{ page.faq.content }}
	  </div>
	{% endif %}
	
		<ul class="question_list">
			{% for child in page.children %}
			{% if child.type_name == 'Question' %}
			<li><a href="{{ child.url }}">{{ child.headline }}</a></li>
			{% endif %}
			{% endfor %}
		</ul>
		<hr />
	
	<div class="faq" id="faq_{{ page.id }}">
	{% for child in page.children %}
		<div class="page_excerpt" id="question_page_{{ child.id }}">
	  
			{% if child.type_name == 'Question' %}
			<h3><a href="{{ child.url }}">{{ child.headline }}</a></h3>
		
			<div class="excerpt">
				{% if child.question.content.size > 0 %}
					{{ child.question.content }}
				{% endif %}
				{% if child.question.answer.size > 0 %}
					<div class="answer"><div class="answer_a">Answer</div> <div class="answer_wrap">{{ child.question.answer }}</div></div>
				{% endif %}
			</div>
			{% endif %}
		
			<hr />
		</div>
	{% endfor %}
	</div>
	
	{% if page.tags_count > 0 %}
		<div id="page_tags">
			{% include "page_tags" with page %}
		</div>
	{% endif %}

	<div class="padbottom padtop">
		<div id="like_page">
			<b>Was this helpful?</b>
			{% include "like_page_mobile" %}
		</div>
	</div>

	</div>
	
	{% if page.show_stream? %}
		{% if page.public_activities_count > 0 or page.is_commentable? %}
			</div> <!-- end content_container_top -->	
		{% endif %}
	  {% include "page_stream" %}
		{% else %}
			</div> <!-- end content_container -->	
	{% endif %}	
</div>