<div class="padcontainer">



<div class="content_container">

{% if page.headline.size > 0 %}
	<div id="headline">
		<h2>{{ page.headline }}</h2>
	</div>
{% endif %}

<div id="content">

	<div class="padtopmore">

	{% if request.logged_in? %}

	  {% if request.current_signup.has_facebook_authorization? %}

	  <!-- facebook connected -->
	    <div class="padbottom">
	      <img src="{{ "indicator_green.png" | asset_path }}" width="13" height="13" class="dashboard_icon" style="padding-bottom: 1px;" /> <b>You connected your Facebook account.</b>
	    </div>

	    <div class="form_wrap" id="facebook_box">
	      <div class="padbottom" style="padding-top: 25px;"><img src="{{ "facebook_logo.png" | asset_path }}" width="94" height="20" alt="Facebook" title="Facebook" /></div>

	      {% include "find_friends_facebook" %}

	    </div>

	  {% else %}

	    <!-- not connected state -->

	    <img src="{{ "indicator_red.png" | asset_path }}" width="13" height="13" class="dashboard_icon" style="padding-bottom: 1px;" /> <b>You have <i>not</i> connected your Facebook account.</b>
	    <div style="padding: 5px 0 5px 23px;"><a href="{{ request.facebook_connect_url }}"><img src="{{ "signin_with_facebook.png" | asset_path }}"></a></div>

	  {% endif %}

	  {% if request.current_signup.has_twitter_authorization? %}

	    <!-- twitter connected -->
	    <div class="padtopmore padbottom">
	    <img src="{{ "indicator_green.png" | asset_path }}" width="13" height="13" class="dashboard_icon" style="padding-bottom: 1px;" /> <b>You connected your Twitter account.</b>
	    </div>
	    <div class="form_wrap" id="twitter_box">
	    <div class="padbottom" style="padding-top: 25px;"><img src="/assets/twitter_logo.png" width="94" height="20" alt="Twitter" title="Twitter" /></div>

	      {% include "find_friends_twitter" %}

		</div>

	  {% else %}

	    <!-- not connected state -->

	    <div class="padtop">
	    <img src="{{ "indicator_red.png" | asset_path }}" width="13" height="13" class="dashboard_icon" style="padding-bottom: 1px;" /> <b>You have <i>not</i> connected your Twitter account.</b>
	    <div style="padding: 5px 0 5px 23px;"><a href="{{ request.twitter_connect_url }}"><img src="{{ "signin_with_twitter.png" | asset_path }}"></a></div>
	    </div>

	  {% endif %}

	{% else %}


	 <!-- not connected state -->

	 <img src="{{ "indicator_red.png" | asset_path }}" width="13" height="13" class="dashboard_icon" style="padding-bottom: 1px;" /> <b>You have <i>not</i> connected your Facebook account.</b>
	 <div style="padding: 5px 0 5px 23px;"><a href="{{ request.facebook_connect_url }}"><img src="{{ "signin_with_facebook.png" | asset_path }}"></a></div>

	 <div class="padtop">
	 <img src="{{ "indicator_red.png" | asset_path }}" width="13" height="13" class="dashboard_icon" style="padding-bottom: 1px;" /> <b>You have <i>not</i> connected your Twitter account.</b>
	 <div style="padding: 5px 0 5px 23px;"><a href="{{ request.twitter_connect_url }}"><img src="{{ "signin_with_twitter.png" | asset_path }}"></a></div>
	 </div>

	{% endif %}

	</div>

</div>