<div class="padcontainer">



{% if page.show_stream? %}
	{% if page.public_activities_count > 0 or page.is_commentable? %}
		<div class="content_container_top">
	{% else %}
		<div class="content_container">
	{% endif %}
	{% else %}
		<div class="content_container">
{% endif %}

<div id="headline">
	<h2>{{ page.headline }}</h2>
	
	{% if page.has_author? %}
		<div class="padtopless">
			{% include "page_byline" %}
		</div>
	{% endif %}
	
</div>

	<div id="intro">
		<div class="content">
		{{ page.blog_post.content_full }}
		</div>
	</div>
	
	{% if page.tags_count > 0 %}
		<div id="page_tags">
			{% include "page_tags" with page %}
		</div>
	{% endif %}
	
	<div class="padbottom padtop">
		<div id="like_page">
			<b>Do you like this post?</b>
		  {% include "like_page_mobile" %}
		</div>
	</div>

{% if page.show_stream? %}
	{% if page.public_activities_count > 0 or page.is_commentable? %}
		</div> <!-- end content_container_top -->	
	{% endif %}
  {% include "page_stream" %}
	{% else %}
		</div> <!-- end content_container -->	
{% endif %}

</div>	
