<div class="padcontainer">



{% if page.show_stream? %}
	{% if page.public_activities_count > 0 or page.is_commentable? %}
		<div class="content_container_top">
	{% else %}
		<div class="content_container">
	{% endif %}
	{% else %}
		<div class="content_container">
{% endif %}

{% if page.headline.size > 0 %}
	<div id="headline">
	  <h2>{{ page.headline }}</h2>
	</div>
{% endif %}

<div id="content">

	{% if page.survey.content.size > 0 %}
		<div id="intro">
			{{ page.survey.content }}
		</div>
	{% endif %}

	<div class="one_column">
	<div class="form_wrap">
	<div class="form">

	  {% if request.sorta_logged_in? %}

	    {% if request.logged_in? == false %}

	      <div class="text-content padtopmore">
	        <h4>Hi {{ request.current_signup.name_or_email }}, will you answer a few questions?</h4>
	      </div>

		    <div class="padtop text-content">
		      If you're not {{ request.current_signup.name_or_email }}, <a href="{{ request.current_signup.logout_url }}">click here</a>.
		    </div>
	    {% endif %}

	  {% endif %}

	  {% if page.survey.is_next_question? %}

	    <div id="survey_question" class="padtop">

	      {% if page.survey.is_responded? %}

	        {% include "next_survey_question" %}

	      {% elsif page.survey.is_next_question? %}

	    		{% form_for survey_response %}

	          <div class="form_errors">{% error_messages_for survey_response %}</div>

					    {% hidden_field_tag 'survey_question_response[survey_question_id]', page.survey.next_question.id %}

					    <h3>{{ page.survey.next_question.content }}</h3>

					    {% if page.survey.next_question.intro.size > 0 %}

					      <div class="padbottomless">
					        {{ page.survey.next_question.intro | new_line_to_br }}
					      </div>

					    {% endif %}

					    <div class="padtop">

							{% if page.survey.next_question.is_multiple_choice? %}
						    {% for possible_response in page.survey.next_question.possible_responses %}
						     	{{ possible_response.radio_button }} {{ possible_response.name }}<br/>
					    	{% endfor %}
							{% elsif page.survey.next_question.is_yes_no? %}
								{{ page.survey.next_question.yes_radio_button }} Yes<br/>
								{{ page.survey.next_question.no_radio_button }} No<br/>
							{% elsif page.survey.next_question.is_text? %}
								{% text_area "content", class:"textarea" %}
							{% endif %}
							</div>

	      		<table cellpadding="0" cellspacing="0">
	  			  {% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
							<tr height="10"></tr>
	    					<tr><td><label for="survey_response_first_name">First Name</label><br>{% text_field "first_name", class:"text" %}</td></tr>
							<tr height="10"></tr>
	    					<tr><td><label for="survey_response_last_name">Last Name</label><br>{% text_field "last_name", class:"text" %}</td></tr>
	    			{% endif %}

	      		{% if request.sorta_logged_in? == false %}
							<tr height="10"></tr>
	      		  	<tr><td><label for="survey_response_email">Email</label><br>{% email_field "email", class:"text", type:"email" %}</td></tr>
								{% if site.ask_for_mobiles? %}
									<tr height="10"></tr>
	      		  			<tr><td><label for="survey_response_mobile_number">Mobile phone (optional)</label><br>{% phone_field "mobile_number", class:"text" %}</td></tr>
								{% endif %}
									<tr height="10"></tr>
	      		  			<tr><td><label for="survey_response_email_opt_in">{% check_box "email_opt_in", class:"checkbox" %} Send me email updates</td></tr>
								{% if site.ask_for_mobiles? %}
									<tr height="10"></tr>
	      		    		<tr><td><label for="survey_response_mobile_opt_in">{% check_box "mobile_opt_in", class:"checkbox" %} Send me text messages</td></tr>
								{% endif %}
	      		{% endif %}

	    			{% if request.sorta_logged_in? == false or request.current_signup.has_full_address? == false %}
							<tr height="10"></tr>
	    					<tr><td><label for="survey_response_submitted_address">Address (Street, City, State, Postal code)</label><br>{% text_field "submitted_address", class:"text" %}</td></tr>
	    			{% endif %}

				    {% if page.survey.is_volunteers? and site.ask_for_volunteers? %}
	      			{% if request.sorta_logged_in? == false or request.current_signup.is_volunteer == false %}
								<tr height="10"></tr>
	      			  	<tr><td><label for="survey_response_is_volunteer">{% check_box "is_volunteer", class:"checkbox" %} I want to volunteer</label></td></tr>
	            {% endif %}
	          {% endif %}

						{% if site.ask_to_publish_to_stream? %}
							<tr height="10"></tr>
	          		<tr><td><label for="survey_response_is_private">{% check_box "is_private", class:"checkbox" %} Don't publish my responses on the website</label></td></tr>
						{% endif %}

							<tr height="10"></tr>
								<tr><td>{% submit_tag "Next question", class:"submit-button" %}
	    	      <div class="form_submit"></div></td></tr>

							</table>

	      	{% endform_for %}

	      {% else %}
          <p><span class="red">This survey has no published questions.</span></p>
	      {% endif %}

	    </div>

	  {% else %}

	    <div class="padtopmore">
	    <h3>Thanks for answering all our questions!</h3>
	    </div>

	  {% endif %}

	</div>
	</div>
	</div>

	{% if page.tags_count > 0 %}
		<div id="page_tags">
			{% include "page_tags" with page %}
		</div>
	{% endif %}

	<div class="padbottom padtop">
		<div id="like_page">
			<b>Do you like this survey?</b>
			{% include "like_page_mobile" %}
		</div>
	</div>

	</div>

	{% if page.show_stream? %}
		{% if page.public_activities_count > 0 or page.is_commentable? %}
			</div> <!-- end content_container_top -->
		{% endif %}
	  {% include "page_stream" %}
		{% else %}
			</div> <!-- end content_container -->
	{% endif %}
</div>