{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}
<div id="content">

  <div class="stat-boxes clearfix">

    <table>
      <thead>
        <tr>
          <th width="33%" class="text-center">Balance</th>
          <th width="33%" class="text-center">Earned</th>
          <th width="33%" class="text-center">Spent</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="33%" class="text-center">{{ request.current_signup.capital_amount_format }}</td>
          <td width="33%" class="text-center">{{ request.current_signup.received_capital_amount_format }}</td>
          <td width="33%" class="text-center">{{ request.current_signup.spent_capital_amount_format }}</td>
        </tr>
      </tbody>
    </table>

  </div>
  {% if request.current_signup.capitals.size > 0 %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th class="show-for-medium-up">
          <span class="nowrap">Date</span>
        </th>
      </tr>
    </thead>
    {% for capital in request.current_signup.capitals %}
      {% if capital.receiver_id == request.current_signup.id %}
    <tr>
      <td>{{ capital.activity.show_oneliner_view }}</td>
      <td>{{ capital.amount_format }}</td>
      <td class="show-for-medium-up">
        <div class="nowrap">{{ capital.created_at | date_to_string }}</div>
      </td>
    </tr>
    {% elsif capital.spender_id == request.current_signup.id %}
    <tr>
      <td>{{ capital.activity.show_oneliner_view }}</td>
      <td>{{ capital.amount_spent_format }}</td>
      <td class="show-for-medium-up">
        <div class="nowrap">{{ capital.created_at | date_to_string }}</div>
      </td>
    </tr>
    {% endif %}
      {% endfor %}
  </table>
  {% endif %}

  {{ request.current_signup.capitals | paginate prev_label: "&laquo;" next_label: "&raquo;" }}
</div>