<div class="padcontainer">
	


<div class="content_container">

{% if page.headline.size > 0 %}
	<div id="headline">
		<h2>{{ page.headline }}</h2>
	</div>
{% endif %}

<div id="content">
	
	{% if page.suggestion_box.content.size > 0 %}
		<div id="intro">
			{{ page.suggestion_box.content }}
		</div>
	{% endif %}


	<div class="one_column padbottom">

	  <div class="form_wrap">
			<div class="form">
		  
				<div class="padtop">
	      {% form_for suggestion_page %}

	  			<div class="form_errors">{% error_messages_for suggestion_page %}</div>
					
					<div id="suggestion_page_page_headline_input">
	  				{% text_field "page_headline", class:"text" %}
					</div>
					
					<div id="suggestion_page_form_expanded">
						<div class="padtopmore">
							{% text_area "content_editable", class:"textarea-tinymce" %}
						</div>
						<div class="padtop">
		  			  {% submit_tag "Post", class:"submit-button" %}
		  			  <div class="form_submit"></div>
		  			</div>
					</div>

	    	{% endform_for %}
				</div>
	
			</div> 	
		</div>

	</div>
	
	<script type="text/javascript">
		jQuery(document).ready(function(){ 
  		$j("#suggestion_page_page_headline").DefaultValue("Add your suggestion");
			$j("#suggestion_page_form_expanded").hide();
			$j('#suggestion_page_page_headline').focus(function() {
				{% if request.logged_in? %}
					$j("#suggestion_page_form_expanded").show();
				{% else %}
					$j("#suggestion_page_page_headline").val("Please sign in first...");
					jQuery.ajax({ type: "get", url: "{{ request.new_user_session_url }}.js?page_id={{ page.id }}", 
						success: function(response) { eval(response);}
					});
				{% endif %}
		  });
		});
	</script>


		<div class="tag_list">
		  
		{% if request.url_path == page.url %}
		  <a class="current" href="{{ page.url }}">Most recent</a>
		{% else %}
		  <a href="{{ page.url }}">Most recent</a>
		{% endif %}  

		{% capture alphabetical_url %}{{ page.url }}/alphabetical{% endcapture %}
		{% if request.url_path == alphabetical_url %}
		  <a class="current" href="{{ alphabetical_url }}">Alphabetical</a>
		{% else %}
		  <a href="{{ alphabetical_url }}">Alphabetical</a>
		{% endif %}

		{% for tag_name in page.suggestion_box.tag_names %}
		  {% capture tag_url %}{{ page.url }}/tags/{{ tag_name }}{% endcapture %}
		  {% if request.url_path == tag_url %}
		    <a class="current" href="{{ tag_url }}">{{ tag_name | capitalize }}</a>
		  {% else %}
		    <a href="{{ tag_url }}">{{ tag_name | capitalize }}</a>
		  {% endif %}
		{% endfor %}
		
	  </div>

	<div class="padbottom">

	<div class="padtop suggestion_box" id="suggestion_box_page_{{ page.id }}">
  
	{% if request.url_path == page.url %} <!-- show most recent -->

	  {% for post in page.suggestion_box.most_recent_suggestions %}
	  	<div class="page_excerpt" id="suggestion_page_{{ post.id }}">

	  		<h3><a href="{{ post.url }}">{{ post.headline }}</a></h3>
		
	  		<div class="padtopless">
	  		<div class="byline">
					Posted by {{ post.author.published_name_linked }} &middot; {{ post.published_at | date: '%B %d, %Y %l:%M %p' }}
			    {% if post.show_stream? %}
			      {% if post.public_activities_count > 0 %}
			        &middot; <a href="{{ post.url }}#reactions">{{ post.public_activities_count }} reaction{% if post.public_activities_count > 1 %}s{% endif %}</a>
			      {% endif %}
			    {% endif %}
	  	  </div>
	  	  </div>
		
	  		<div class="excerpt truncate-500" data-truncate="500">
	  		  {% if post.suggestion.content.size > 0 %}
	  			  {{ post.suggestion.content }}
	  			{% else %}
	  			  <p>
	  			{% endif %}
	  		</div>

				{% if post.suggestion.is_answered? %}
					<div class="answer"> 
						<div>
							<b>
								Official response from {{ post.suggestion.answer_author.published_name_linked }}
								{% if post.suggestion.is_answer_type? %}
									{{ post.suggestion.answer_type_html }}
								{% endif %}
							</b>
						</div>
						{% if post.suggestion.answer.size > 0 %}
						<div class="answer_wrap excerpt truncate-500" data-truncate="500">{{ post.suggestion.answer }}</div>
						{% endif %}
					</div>
				{% endif %}
 
	   		{% if post.public_activities_count > 0 %}
	  	  <span class="small_button"><a href="{{ post.url }}#addreaction"><img src="{{ 'fugue-balloons' | icon_url }}" width="12" height="12" class="reaction_icon_pad" />{{ post.public_activities_count }} reaction{% if post.public_activities_count > 1 %}s{% endif %}</a></span>
	  	  {% else %}
	  	  <span class="small_button"><a href="{{ post.url }}#addreaction"><img src="{{ 'fugue-balloons' | icon_url }}" width="12" height="12" class="reaction_icon_pad" />Add your reaction</a></span>
	  	  {% endif %}
 
	  	</div> 
	
	  	<hr>
	  {% endfor %}
  
	  <div class="padbottom">
	  {{ page.suggestion_box.most_recent_suggestions | paginate }}
	  </div>
  
	{% elsif request.url_path == alphabetical_url %} <!-- show alphabetical -->

	  {% for post in page.suggestion_box.alphabetical_suggestions %}
	  	<div class="page_excerpt" id="suggestion_page_{{ post.id }}">

	  		<h3><a href="{{ post.url }}">{{ post.headline }}</a></h3>

	  		<div class="padtopless">
	  		<div class="byline">
					Posted by {{ post.author.published_name_linked }} &middot; {{ post.published_at | date: '%B %d, %Y %l:%M %p' }}
			    {% if post.show_stream? %}
			      {% if post.public_activities_count > 0 %}
			        &middot; <a href="{{ post.url }}#reactions">{{ post.public_activities_count }} reaction{% if post.public_activities_count > 1 %}s{% endif %}</a>
			      {% endif %}
			    {% endif %}
	  	  </div>
	  	  </div>

	  		<div class="excerpt truncate-500" data-truncate="500">
	  		  {% if post.suggestion.content.size > 0 %}
	  			  {{ post.suggestion.content }}
	  			{% else %}
	  			  <p>
	  			{% endif %}
	  		</div>

	   		{% if post.public_activities_count > 0 %}
	  	  <span class="small_button"><a href="{{ post.url }}#addreaction"><img src="{{ 'fugue-balloons' | icon_url }}" width="12" height="12" class="reaction_icon_pad" />{{ post.public_activities_count }} reaction{% if post.public_activities_count > 1 %}s{% endif %}</a></span>
	  	  {% else %}
	  	  <span class="small_button"><a href="{{ post.url }}#addreaction"><img src="{{ 'fugue-balloons' | icon_url }}" width="12" height="12" class="reaction_icon_pad" />Add your reaction</a></span>
	  	  {% endif %}

	  	</div> 

	  	<hr>
	  {% endfor %}

	  <div class="padbottom">
	  {{ page.suggestion_box.most_recent_suggestions | paginate }}
	  </div>  
  
	{% else %} <!-- show tagged -->

	  {% for tagging in page.suggestion_box.tagged_suggestions %}
	    {% assign post = tagging.page %}
	  	<div class="page_excerpt" id="suggestion_page_{{ post.id }}">

	  		<h3><a href="{{ post.url }}">{{ post.headline }}</a></h3>
	
	  		<div class="padtopless">
	  		<div class="byline">
					Posted by {{ post.author.published_name_linked }} &middot; {{ post.published_at | date: '%B %d, %Y %l:%M %p' }}
			    {% if post.show_stream? %}
			      {% if post.public_activities_count > 0 %}
			        &middot; <a href="{{ post.url }}#reactions">{{ post.public_activities_count }} reaction{% if post.public_activities_count > 1 %}s{% endif %}</a>
			      {% endif %}
			    {% endif %}
	  	  </div>
	  	  </div>
	
	  		<div class="excerpt truncate-500" data-truncate="500">
	  		  {% if post.suggestion.content.size > 0 %}
	  			  {{ post.suggestion.content }}
	  			{% else %}
	  			  <p>
	  			{% endif %}
	  		</div>
  		
	  		<div class="padbottom">
	  		  {{ tagging.signup_taggings_count }} {% if tagging.signup_taggings_count > 1 %}people{% else %}person{% endif %} tagged this <span class="page_tag">{{ tagging.tag.name }}</span>
	  		</div>

	   		{% if post.public_activities_count > 0 %}
	  	  <span class="small_button"><a href="{{ post.url }}#addreaction"><img src="{{ 'fugue-balloons' | icon_url }}" width="12" height="12" class="reaction_icon_pad" />{{ post.public_activities_count }} reaction{% if post.public_activities_count > 1 %}s{% endif %}</a></span>
	  	  {% else %}
	  	  <span class="small_button"><a href="{{ post.url }}#addreaction"><img src="{{ 'fugue-balloons' | icon_url }}" width="12" height="12" class="reaction_icon_pad" />Add your reaction</a></span>
	  	  {% endif %}

	  	</div> 

	  	<hr>
	  {% endfor %}
  
	  <div class="padbottom">
	    {{ page.suggestion_box.tagged_suggestions | paginate }}
	  </div>
  
	{% endif %}
  
	</div>

	</div>
	
	<div class="padbottom padtop">
		<div id="like_page">
			<b>Like this page to spread the word</b>
				{% include "like_page" %}
		</div>
	</div>

</div>

</div>
</div>