<div id="content">

  <div class="press-release">

    <div class="header">

      <div class="released-at">{{ page.published_at | date: '%B %d, %Y' }}</div>

      <h2 class="headline">{{ page.headline }}</h2>

    </div>

  </div>

  <div id="intro" class="intro">
    <div class="row show-for-small-only">
      <div class="small-12 columns">
        <div class="panel">
          {% if page.has_author? %}
          <div class="contact vcard padbottommore">
            <h4>Contact:</h4>
            <div class="contact-name">
              <span class="n">{{ page.author.published_name }}</span>
            </div>
            {% if page.author.has_phone? %}
            <a href="tel:{{ page.author.phone_number }}" class="tel">{{ page.author.phone_number }}</a>
            {% endif %}
        {% if page.author.has_email? %}
            <div class="email">{{ page.author.email | enkode_email }}</div>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="right show-for-medium-up" style="padding-left: 1rem; padding-bottom: 1rem;">
      <div class="panel">
        {% if page.has_author? %}
        <div class="contact vcard padbottommore">
          <h4>Contact:</h4>
          <div class="contact-name">
            <span class="n">{{ page.author.published_name }}</span>
          </div>
          {% if page.author.has_phone? %}
          <a href="tel:{{ page.author.phone_number }}" class="tel">{{ page.author.phone_number }}</a>
          {% endif %}
        {% if page.author.has_email? %}
          <div class="email">{{ page.author.email | enkode_email }}</div>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
    {{ page.press_release.content }}
  </div>
  {% if page.tags_count > 0 %}
  <div id="page-tags" class="page-tags">{% include "page_tags" with page %}</div>
  {% endif %}
  <div class="like-page"> <strong>Share this release:</strong>
    {% include "like_page" %}
  </div>
  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}
</div>