<div class="padcontainer">



{% if page.show_stream? %}
	{% if page.public_activities_count > 0 or page.is_commentable? %}
		<div class="content_container_top">
	{% else %}
		<div class="content_container">
	{% endif %}
	{% else %}
		<div class="content_container">
{% endif %}

{% if page.headline.size > 0 %}
	<div id="headline">
	  <h2>{{ page.headline }}</h2>
		{% if page.has_author? %}
		  {% include "page_byline" %}
		{% endif %}
	</div>
{% endif %}

<div id="content">
	{% if page.event.content.size > 0 %}
	  <div id="intro">
	    {{ page.event.content }}
	  </div>
	{% endif %}

  <div class="event_detail">
	<div class="subhead">WHEN</div>
	<div class="subtext">
	  {% if page.event.is_multi_day? %}
	    {{ page.event.local_start_at | event_time }} - {{ page.event.local_end_at | event_time }}
	  {% else %}
		  {{ page.event.local_start_at | event_time }}
		{% endif %}
	</div>		
	</div>

	{% if page.event.has_venue? %}

    <div class="event_detail">
		<div class="subhead">WHERE</div>
		<div class="subtext">
			{% if page.event.venue_name.size > 0 %}
				{{ page.event.venue_name }}<br/>
			{% endif %}
			{% for line in page.event.venue_address.multi_line %}
				{{ line }}<br/>
			{% endfor %}
			{% if page.event.has_venue_address? %}
			<a href="{{ page.event.venue_address.google_map_link }}">Google map and directions</a>
			{% endif %}
		</div>
		</div>

	{% endif %}

	{% if page.event.has_contact? %}

    <div class="event_detail">
	  <div class="subhead">CONTACT</div>
	  <div class="subtext">
	    {{ page.event.contact_name }}
	    {% if page.event.has_public_contact_email? %}
	    &middot; {{ page.event.contact_email | enkode_email }}
	    {% endif %}
	    {% if page.event.has_public_contact_phone_number? %}
	    &middot; {{ page.event.contact_phone_number }}
	    {% endif %}
	  </div>
	  </div>

	{% endif %}

	{% if page.event.is_ticket_required? %}

	  {% if page.event.show_guests? and page.event.rsvps_count > 0 %}
	  <div class="event_detail">
	  <div class="subhead">{{ page.event.rsvps_count | number_with_commas }} RSVP{% if page.event.rsvps_count > 1 %}S{% endif %}</div>
	  <div class="subtext">
	    {% for rsvp in page.event.rsvps %}
	      {{ rsvp.signup.smaller_profile_image }}
	    {% endfor %}
	  </div>
	  </div>
	  {% endif %}

		<div class="padtop padbottom one_column">

	  {% if page.event.is_maximum_capacity? %}
    
	    <div class="padtop">Sorry, this event is sold out.</div>
    
	  {% else %}

	  	{% form_for order %}
	
	  	  <div class="form_wrap">
	  		<div class="form">
  		  
	  		  <div class="padtopmore">
	  		    <h4>Will you come?</h4>
	  		  </div>

	  			{% for ticket_level in page.event.ticket_levels %}

	  				<p>{{ ticket_level.form_quantity }}
	  					{% if ticket_level.description.size > 0 %}
	  			  		<br/>
	  			  		{{ ticket_level.description }}
	  			  	{% endif %}
	  				</p>
		
	  			{% endfor %}
			
	  			{% if page.event.is_hosts? or request.current_recruiter %}
	  				<p><label for="order_recruiter_id">Did a host refer you?</label></p>
	  				<select name="order[recruiter_id]">
	  				<option value="">No</option>
						{% if request.current_recruiter %}
						  <option value="{{ request.current_recruiter.id }}" selected>{{ request.current_recruiter.published_name }}</option>
						{% endif %}  				
	  				{% for host in page.event.hosts %}
	  					<option value="{{ host.signup_id }}">{{ host.name }}</option>
	  				{% endfor %}
	  				</select>
	  			{% endif %}				
			
	  			<div class="padtop">
	  			  {% submit_tag "Purchase tickets", class:"submit-button" %}			
	  			  <div class="form_submit"></div>
	  			</div>
		
	  		</div>
  		
	  	{% endform_for %}
  
	  {% endif %}
	
		</div>
		</div>

	{% else %}

	  {% if page.event.is_user_ticket_required? %}
  
      <div class="event_detail">
	    <div class="subhead">TICKETS</div>
	    <div class="subtext">
	      {{ page.event.user_ticket_price_with_currency }}
	      {% if page.event.has_user_ticket_purchase_url? %}
	        &middot; <a href="{{ page.event.user_ticket_purchase_url }}">Purchase tickets</a>
	      {% endif %}
	    </div>
	    </div>
    
	  {% elsif page.event.has_user_ticket_purchase_url? %}
  
      <div class="event_detail">
	    <div class="subhead">TICKETS</div>
	    <div class="subtext">
        <a href="{{ page.event.user_ticket_purchase_url }}">FREE</a>
	    </div>
	    </div>
  
	  {% endif %}
  
	  {% if page.event.show_guests? and page.event.rsvps_count > 0 %}
	  <div class="subhead">{{ page.event.rsvps_count | number_with_commas }} RSVP{% if page.event.rsvps_count > 1 %}S{% endif %}</div>
	  <div class="subtext">
	    {% for rsvp in page.event.rsvps %}
	      {{ rsvp.signup.smaller_profile_image }}
	    {% endfor %}
	  </div>
	  {% endif %}

		{% if page.event.is_rsvped? %}
	
			<div class="padtop one_column">
	
				{% form_for event_rsvp %}
			
				  <div class="form_wrap">
					<div class="form">
				  
					  <div class="padtopmore">
					    {% if page.event.current_rsvp.is_canceled? %}
					      <h3>Your RSVP was canceled.</h3>
					    {% else %}
	              <h3>Thank you for rsvp'ing.  We'll see you there!</h3>
					    {% endif %}
	          </div>
          
	          {% if request.sorta_logged_in? and request.logged_in? == false %}

	      	    <div class="text-content">
	      	      If you're not {{ request.current_signup.name_or_email }}, <a href="{{ request.current_signup.logout_url }}">click here</a>.
	      	    </div>

	          {% endif %}
          
	          {% if page.event.current_rsvp.is_canceled? %}

	            <div class="padtop">
	              <a href="{{ page.event.uncancel_rsvp_url }}">Oops, nevermind!  I really do want to come.</a>
	            </div>
          
	          {% else %}
          
	            {% if page.event.allow_guests? %}
          
	    					<div class="form_errors">{% error_messages_for event_rsvp %}</div>
			
	    			    {% if page.event.allow_guests? and page.event.current_rsvp.is_canceled? == false %}
  			    
	      					<p><label for="event_rsvp_guests_count">Change the number of guests you're bringing</label><br/>{% text_field "guests_count", class:"text" %}</p>
    				
	      				{% endif %}
  					
	      				<p><label for="event_rsvp_is_canceled">{% check_box "is_canceled", class:"checkbox" %} Cancel, I'm not coming. </label></p>
  					
	      				<div class="padtop">

	                {% submit_tag "Update RSVP", class:"submit-button" %} &nbsp;
						
	    						<div class="form_submit"></div>
						
	      				</div>
  				
	    				{% else %}
  				
	      				<div class="destroy_link padtop">
	    						{{ page.event.current_rsvp | delete_link message: "Cancel RSVP" }}
	    					</div>
					
	  					{% endif %}
					
						{% endif %}
					
					</div>
					</div>

				{% endform_for %}
			</div>
	
		{% elsif page.event.accept_rsvps?  %}
	
			<div class="padtop padbottom one_column">

		    {% if page.event.is_maximum_capacity? %}
	    
		      <div class="padbottom">
		        Sorry, this event is sold out.
		      </div>
	    
		    {% else %}
	
	  			{% form_for event_rsvp %}
		
	  		    <div class="form_wrap">
	  				<div class="form">
	
		          {% if request.sorta_logged_in? %}

	              <div class="padtopmore text-content">
	                <h4>Hi {{ request.current_signup.name_or_email }}, will you come?</h4>
	              </div>

	              {% if request.logged_in? == false %}
	          	    <div class="padtop text-content">
	          	      If you're not {{ request.current_signup.name_or_email }}, <a href="{{ request.current_signup.logout_url }}">click here</a>.
	          	    </div>
	              {% endif %}

	            {% else %}

	              <div class="padtopmore text-content">
	                <h4>Will you come?</h4>
	              </div>

	            {% endif %}
	
	  					<div class="form_errors">{% error_messages_for event_rsvp %}</div>
		
		
			        <table>
			        {% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
			          <tr height="10"></tr>
	  							<tr><td><label for="event_rsvp_first_name">First Name</label><br>{% text_field "first_name", class:"text" %}</td></tr>
								<tr height="10"></tr>
	  							<tr><td><label for="event_rsvp_last_name">Last Name</label><br>{% text_field "last_name", class:"text" %}</td></tr>
	  					{% endif %}
  					
	  					{% if request.sorta_logged_in? == false %}
	        		  <tr height="10"></tr>
	        		  	<tr><td><label for="event_rsvp_email">Email</label><br>{% email_field "email", class:"text", type:"email" %}</td></tr>
									{% if site.ask_for_mobiles? %}
									<tr height="10"></tr>
	        		    	<tr><td><label for="event_rsvp_mobile_number">Mobile phone (optional)</label><br>{% phone_field "mobile_number", class:"text" %}</td></tr>
									{% endif %}
	        		  <tr height="10"></tr>
	        		  	<tr><td><label for="event_rsvp_email_opt_in">{% check_box "email_opt_in", class:"checkbox" %} Send me email updates</td></tr>
									{% if site.ask_for_mobiles? %}
									<tr height="10"></tr>
	        		    	<tr><td><label for="event_rsvp_mobile_opt_in">{% check_box "mobile_opt_in", class:"checkbox" %} Send me text messages</td></tr>
									{% endif %}
	        		{% endif %}
  					
	  					{% if page.event.is_phone? %}
							<tr height="10"></tr>
	  						<tr><td><label for="event_rsvp_phone_number">Phone</label><br>{% phone_field "phone_number", class:"text" %}</td></tr>
	  					{% endif %}
	  					{% if page.event.is_address? %}
							<tr height="10"></tr>
	  						<tr><td><label for="event_rsvp_submitted_address">Address (Street, City, State, Postal code)</label><br>{% text_field "submitted_address", class:"text" %}</td></tr>
	  					{% endif %}
	  					{% if page.event.allow_guests? %}
							<tr height="10"></tr>
	  						<tr><td><label for="event_rsvp_guests_count">How many other people are you bringing?</label><br/>{% text_field "guests_count", class:"text" %}</td></tr>
	  					{% endif %}
	  					{% if page.event.is_hosts? or request.current_recruiter %}
							<tr height="10"></tr>
								<tr><td><label for="event_rsvp_recruiter_id">Did a host refer you?</label>
	  						<select name="event_rsvp[recruiter_id]">
	  						<option value="">No</option>
	  						{% if request.current_recruiter %}
	  						  <option value="{{ request.current_recruiter.id }}" selected>{{ request.current_recruiter.published_name }}</option>
	  						{% endif %}
	  						{% for host in page.event.hosts %}
	  							<option value="{{ host.signup_id }}">{{ host.name }}</option>
	  						{% endfor %}
	  						</select></td></tr>
	  					{% endif %}
	  					{% if page.event.is_volunteers? and site.ask_for_volunteers? %}
	  						{% if request.logged_in? == false or request.current_signup.is_volunteer == false %}
								<tr height="10"></tr>
	  					    <tr><td><label for="event_rsvp_is_volunteer">{% check_box "is_volunteer", class:"checkbox" %} I want to volunteer</label></td></tr>
	  					  {% endif %}
	  					{% endif %}
	  					{% if page.event.is_shifts? %}
							<tr height="10"></tr>
								<tr><td>
								<label for="event_rsvp_shifts">
								Choose shifts
								</label>
	    					{% for day in page.event.shifts_grouped_by_day %}
	    					  <label for="event_rsvp_shift">
	    					    <div class="padtopless">
											{{ day.last.first.display_date }}:
	        					  {% for shift in day.last %}
	        					    {% check_box_tag 'event_rsvp[shift_ids][]', shift.id, collection:page.event.shift_ids, member:shift.id, class:"checkbox" %} {{ shift.display_time }}
	        					  {% endfor %}
	    					    </div>
	  					    </label></td></tr>
	              {% endfor %}
	              {% hidden_field_tag 'event_rsvp[shift_ids][]', '' %}
	  					{% endif %}
							{% if site.ask_to_publish_to_stream? %}
							<tr height="10"></tr>
								<tr><td><label for="event_rsvp_is_private">{% check_box "is_private", class:"checkbox" %} Don't publish my RSVP on the website</label></td></tr>
							{% endif %}
	  					{% if page.event.has_facebook? %}
							<tr height="10"></tr>
							<tr><td><label for="event_rsvp_post_to_facebook">{% check_box "post_to_facebook", class:"checkbox" %} Also RSVP on <a href="{{ page.event.facebook_url }}">Facebook</a> </label></td></tr>
	  					{% endif %}

								<tr height="10"></tr>
								<tr><td>{% submit_tag "Send RSVP", class:"submit-button" %}</td></tr>
							</table>
  					  
	  					  {% if page.event.is_user_ticket_required? %}
	                <div class="padtopmore">
	                  NOTE: After RSVP, you will still need to purchase a ticket
	                  {% if page.event.has_user_ticket_purchase_url? %}
	                    <a href="{{ page.event.user_ticket_purchase_url }}">here</a>
	                  {% endif %}
	                </div>
	              {% endif %}
  					  
	  					  <div class="form_submit"></div>
	  					</div>
	
	  			{% endform_for %}

					{% if page.text_keyword_instructions.size > 0 %}
						<div class="padbottom padtopmore">
							or {{ page.text_keyword_instructions }}
						</div>
					{% endif %}
	
	  		</div>
	  		</div>
  		
	  	{% endif %}
		
		{% endif %}
	
	{% endif %}
	
	</div>
	
	{% if page.tags_count > 0 %}
		<div id="page_tags">
			{% include "page_tags" with page %}
		</div>
	{% endif %}

	{% if page.show_stream? %}
		{% if page.public_activities_count > 0 or page.is_commentable? %}
			</div> <!-- end content_container_top -->	
		{% endif %}
	  {% include "page_stream" %}
		{% else %}
			</div> <!-- end content_container -->	
	{% endif %}
	
	</div>
</div>