<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    {% if page.headline.size > 0 %}
    <h2 class="headline">{{ page.headline }}</h2>
    {% endif %}
    <div id="content">
      {% if page.paid_membership.content.size > 0 %}
      <div id="intro" class="intro">{{ page.paid_membership.content }}</div>
      {% endif %}
      <div class="row">
        {% for membership_option in page.paid_membership.membership_options limit:3 %}
        <div class="small-12 medium-4 large-4 columns">
          <ul class="pricing-table">
            <li class="title">{{ membership_option.membership_level_name }}</li>
            <li class="price"> <strong>{{ membership_option.amount }}</strong>
              every {% if membership_option.num_time_periods > 1 %}{{ membership_option.num_time_periods }}{% endif %} {{ membership_option.time_period_type | downcase }}
            </li>
            <li class="description">{{ membership_option.description }}</li>
            <li class="cta-button">
              <a class="button" href="{{ membership_option.purchase_url }}">Purchase</a>
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>

      <div class="row">
        {% for membership_option in page.paid_membership.membership_options limit:3 offset:3 %}
        <div class="small-12 medium-4 large-4 columns">
          <ul class="pricing-table">
            <li class="title">{{ membership_option.membership_level_name }}</li>
            <li class="price"> <strong>{{ membership_option.amount }}</strong>
              every {% if membership_option.num_time_periods > 1 %}{{ membership_option.num_time_periods }}{% endif %} {{ membership_option.time_period_type | downcase }}
            </li>
            <li class="description">{{ membership_option.description }}</li>
            <li class="cta-button">
              <a class="button" href="{{ membership_option.purchase_url }}">Purchase</a>
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>

      <div class="row">
        {% for membership_option in page.paid_membership.membership_options limit:3 offset:6 %}
        <div class="small-12 medium-4 large-4 columns">
          <ul class="pricing-table">
            <li class="title">{{ membership_option.membership_level_name }}</li>
            <li class="price">
              <strong>{{ membership_option.amount }}</strong>
              every {% if membership_option.num_time_periods > 1 %}{{ membership_option.num_time_periods }}{% endif %} {{ membership_option.time_period_type | downcase }}
            </li>
            <li class="description">{{ membership_option.description }}</li>
            <li class="cta-button">
              <a class="button" href="{{ membership_option.purchase_url }}">Purchase</a>
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>

      <div class="row">
        {% for membership_option in page.paid_membership.membership_options limit:3 offset:9 %}
        <div class="small-12 medium-4 large-4 columns">
          <ul class="pricing-table">
            <li class="title">{{ membership_option.membership_level_name }}</li>
            <li class="price">
              <strong>{{ membership_option.amount }}</strong>
              every {% if membership_option.num_time_periods > 1 %}{{ membership_option.num_time_periods }}{% endif %} {{ membership_option.time_period_type | downcase }}
            </li>
            <li class="description">{{ membership_option.description }}</li>
            <li class="cta-button">
              <a class="button" href="{{ membership_option.purchase_url }}">Purchase</a>
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>

      {% if page.tags_count > 0 %}
      <div id="page-tags" class="page-tags">{% include "page_tags" with page %}</div>
      {% endif %}

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}
    </div>

  </div>
</div>