	<!--[if IE]>
	<link rel="stylesheet" type="text/css" href="/stylesheets/countdown_ie.css" media="all" />
	<![endif]-->
	
<div class="padcontainer">



{% if page.show_stream? %}
	{% if page.public_activities_count > 0 or page.is_commentable? %}
		<div class="content_container_top">
	{% else %}
		<div class="content_container">
	{% endif %}
	{% else %}
		<div class="content_container">
{% endif %}

{% if page.headline.size > 0 %}
	<div id="headline">
	  <h2>{{ page.headline }}</h2>
	</div>
{% endif %}

<div id="content">

	{% if page.moneybomb.content.size > 0 %}
	  <div id="moneybomb_content">
	    {{ page.moneybomb.content }}
	  </div>
	{% endif %}
	
	{% if page.moneybomb.has_start_at? and page.moneybomb.is_active? == false and page.moneybomb.is_past? == false %}
	<div class="event_detail">
	<div class="subhead" style="text-transform: uppercase;">COUNTDOWN TO {{ page.moneybomb.local_start_at | moneybomb_time }}</div>
	<div class="subtext">
		<div id="pre_countdown" class="countdown"></div>
	</div>
	</div>
	{% elsif page.moneybomb.is_active? %}
		<div class="event_detail">
		<div class="subhead" style="text-transform: uppercase;">TIME LEFT TO DONATE</div>
		<div class="subtext">
			<div id="active_countdown" class="countdown"></div>
		</div>
		</div>
	{% endif %}

	{% assign thermo_width = 200 %}

	{% if page.moneybomb.has_amount_goal? %}
	  <div class="padtop">
	    <div class="thermo_donate_container">
	      <div class="padbottomless">
	          <div class="thermometer_progress_text" style="width: {{ thermo_width }}px;">
	            {% if page.pledges_count < 1 %}
	              JUST STARTED
	            {% else %}
	              {{ page.pledges_amount_format }} pledged
	            {% endif %}
	          </div>
	          <div align="left" class="thermometer_background" style="width: {{ thermo_width }}px;">
	            <div class="thermometer_progress" style="width: {{ page.moneybomb.percent_of_amount_goal | times:thermo_width }}px;"></div>
	          </div>
	      </div>
	    </div>
	  </div>

	    <div class="horizontalgoal">GOAL: {{ page.moneybomb.amount_goal_format }}</div>
	</div>

	{% elsif page.moneybomb.has_pledger_goal? %}

	  <div class="padtop">
	    <div class="thermo_donate_container">
	      <div class="padbottomless">
	        <div class="thermometer_progress_text" style="width: {{ thermo_width }}px;">
	          {% if page.pledges_count < 2 %}
	            JUST STARTED
	          {% else %}
	            {{ page.pledges_count }} pledgers
	          {% endif %}
	        </div>
	        <div align="left" class="thermometer_background" style="width: {{ thermo_width }}px;">
	          <div class="thermometer_progress" style="width: {{ page.moneybomb.percent_of_pledger_goal | times:thermo_width }}px;"></div>
	        </div>
	      </div>
	    </div>
	  </div>

	   <div class="horizontalgoal">GOAL: {{ page.moneybomb.pledger_goal }} PLEDGERS</div>
	</div>

	{% endif %}

	{% if page.moneybomb.is_pledged? %}
	
			<div class="one_column">
	
				{% form_for pledge %}
			
				  <div class="form_wrap">
					<div class="form">

	          <div class="padtop"><h3>Thank you for pledging!</h3></div>

						<div class="form_errors">{% error_messages_for pledges %}</div>
			
						<p><label for="pledge_content">Change your pledge amount</label><br/>{{ page.moneybomb.form_amount_options }}</p>
	
	            {% if page.is_commentable? %}
								{% submit_tag "Save pledge", class:"submit-button" %} &nbsp; 
							{% endif %}
						
							<div class="destroy_link padtop">
								{{ page.moneybomb.current_pledge | delete_link message: "Cancel pledge" }}
							</div>
						
							<div class="form_submit"></div>
					
					</div>

				{% endform_for %}
			</div>
			</div>
	
	{% else %}
	
		<div class="padbottom one_column">

			{% form_for pledge %}
	
		    <div class="form_wrap">
				<div class="form">

	    	  {% if request.sorta_logged_in? %}
	    	    <div class="padtop text-content">
	    	      <h4>Hi {{ request.current_signup.name_or_email }}, how much will you pledge to donate{% if page.moneybomb.has_start_at? %} on {{ page.moneybomb.local_start_at | moneybomb_time }}{% endif %}?</h4>
	    	    </div>

	    	    {% if request.logged_in? == false %}
	      	    <div class="padtop text-content">
	      	      If you're not {{ request.current_signup.name_or_email }}, <a href="{{ request.current_signup.logout_url }}">click here</a>.
	      	    </div>
	    	    {% endif %}

	        {% else %}

	          <div class="padtop text-content">
	            <h4>How much will you pledge to donate{% if page.moneybomb.has_start_at? %} on {{ page.moneybomb.local_start_at | date_to_string }}{% endif %}?</h4>
	          </div>

	    	  {% endif %}

					<div class="form_errors">{% error_messages_for pledge %}</div>
	
					<div class="padtop padbottom">
					{{ page.moneybomb.form_amount_options }}
					</div>
	
		      <table>
		  		{% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
		  		  <tr height="10"></tr>
	    				<tr><td><label for="pledge_first_name">First Name</label><br>{% text_field "first_name", class:"text" %}</td></tr>
						<tr height="10"></tr>
	    				<tr><td><label for="pledge_last_name">Last Name</label><br>{% text_field "last_name", class:"text" %}</td></tr>
	    		{% endif %}

	    		{% if request.sorta_logged_in? == false %}
	    		  <tr height="10"></tr>
	    			<tr><td><label for="pledge_email">Email</label><br>{% email_field "email", class:"text", type:"email" %}</td></tr>
							{% if site.ask_for_mobiles? %}
						<tr height="10"></tr>
	    					<tr><td><label for="pledge_mobile_number">Mobile phone (optional)</label><br>{% phone_field "mobile_number", class:"text" %}</td></tr>
							{% endif %}
	    			<tr height="10"></tr>
	    			<tr><td><label for="pledge_email_opt_in">{% check_box "email_opt_in", class:"checkbox" %} Send me email updates</label></td></tr>
							{% if site.ask_for_mobiles? %}
						<tr height="10"></tr>
	    			  	<tr><td><label for="pledge_mobile_opt_in">{% check_box "mobile_opt_in", class:"checkbox" %} Send me text message updates</label></tr>
							{% endif %}
	    		{% endif %}

	      	{% if request.sorta_logged_in? == false or request.current_signup.has_full_address? == false %}
	      		<tr height="10"></tr>	
							<tr><td><label for="pledge_submitted_address">Address (Street, City, State, Postal code)</label><br>{% text_field "submitted_address", class:"text" %}</td></tr>
	      	{% endif %}
					
					{% if site.ask_to_publish_to_stream? %}
						<tr height="10"></tr>
							<tr><td><label for="pledge_is_private">{% check_box "is_private", class:"checkbox" %} Don't publish this on the website</label></td><tr>
					{% endif %}
				
    		  {% if request.sorta_logged_in? == false or request.current_signup.is_volunteer == false %}
						<tr height="10"></tr>
    		    	<tr><td><label for="pledge_is_volunteer">{% check_box "is_volunteer", class:"checkbox" %} I want to volunteer</label></td></tr>
	        {% endif %}				

				<tr height="10"></tr>
					<tr><td>{% submit_tag "Add pledge", class:"submit-button" %}</td></tr>
					
					<div class="form_submit"></div>
				</table>
				
				</div>

			{% endform_for %}
	
			{% if page.text_keyword_instructions.size > 0 %}
				<div class="padbottom padtopmore">
					or {{ page.text_keyword_instructions }}
				</div>
			{% endif %}
	
		</div>
		</div>
	
	{% endif %}
	
	{% if page.tags_count > 0 %}
		<div id="page_tags">
			{% include "page_tags" with page %}
		</div>
	{% endif %}

	<div class="padbottom padtop">
		<div id="like_page">
			<b>Like this to spread the word</b>
			{% include "like_page_mobile" %}
		</div>
	</div>
	
	</div>
	
	{% if page.show_stream? %}
		{% if page.public_activities_count > 0 or page.is_commentable? %}
			</div> <!-- end content_container_top -->	
		{% endif %}
	  {% include "page_stream" %}
		{% else %}
			</div> <!-- end content_container -->	
	{% endif %}	
</div>
<script type="text/javascript" src="/javascripts/jquery.countdown.min.js"></script>
<script type="text/javascript">
$j(function () {
	$j('#pre_countdown').countdown({
		until: +{{ page.moneybomb.seconds_until }}, 
		format: 'YDHMS',
		layout: '<div id="t7_timer">'+
					'<div id="t7_vals">'+
						'<div id="t7_d" class="t7_numbs">{dnn}</div>'+
						'<div id="t7_h" class="t7_numbs">{hnn}</div>'+
						'<div id="t7_m" class="t7_numbs">{mnn}</div>'+
						'<div id="t7_s" class="t7_numbs">{snn}</div>'+
					'</div>'+
					'<div id="t7_labels">'+
						'<div id="t7_dl" class="t7_labs">days</div>'+
						'<div id="t7_hl" class="t7_labs">hours</div>'+
						'<div id="t7_ml" class="t7_labs">mins</div>'+
						'<div id="t7_sl" class="t7_labs">secs</div>'+
					'</div>'+
					'<div id="t7_timer_over"></div>'+
				'</div>'
		});
	$j('#active_countdown').countdown({
		until: +{{ page.moneybomb.seconds_left }}, 
		format: 'YDHMS',
		layout: '<div id="t7_timer">'+
					'<div id="t7_vals">'+
						'<div id="t7_d" class="t7_numbs">{dnn}</div>'+
						'<div id="t7_h" class="t7_numbs">{hnn}</div>'+
						'<div id="t7_m" class="t7_numbs">{mnn}</div>'+
						'<div id="t7_s" class="t7_numbs">{snn}</div>'+
					'</div>'+
					'<div id="t7_labels">'+
						'<div id="t7_dl" class="t7_labs">days</div>'+
						'<div id="t7_hl" class="t7_labs">hours</div>'+
						'<div id="t7_ml" class="t7_labs">mins</div>'+
						'<div id="t7_sl" class="t7_labs">secs</div>'+
					'</div>'+
					'<div id="t7_timer_over"></div>'+
				'</div>'
		});		
});
</script>