{% unless request.is_ajax? %}
<div id="headline">
  <h2>Your {{ site.name }} account</h2>
</div>
{% endunless %}

{% form_for signup %}


<div class="form padbottomore">

  <h4>Public profile</h4>
  
  <div class="form-errors">{% error_messages_for signup %}</div>
  
  <div class="padtopmore padbottommore">
    <label class="checkbox" for="signup_is_profile_private">{% check_box "is_profile_private", class:"checkbox" %} Don't publish <a href="{{ signup.profile_url }}">my profile</a> on the website</label> 
  </div>
  
  <div class="row">
  	<div class="small-6 medium-6 large-6 columns"><label for="signup_first_name">First Name</label>{% text_field "first_name", class:"text" %}</div>
    <div class="small-6 medium-6 large-6 columns"><label for="signup_last_name">Last Name</label>{% text_field "last_name", class:"text" %}</div>
  </div>
  
  <div class="row">
  	<div class="small-12 medium-12 large-12 columns"><label for="signup_username">User name</label>{% text_field "username", class:"text" %}</div>
  </div>

  <div class="row">
  	<div class="small-12 medium-12 large-12 columns"><small>Your public profile will be at {{ site.full_url }}{% if request.current_signup.has_username? %}{{ request.current_signup.username }}{% else %}username{% endif %}</small></div>
  </div>

  <div class="row">
  	<div class="small-12 medium-12 large-12 columns"><label for="signup_bio">Short bio</label>{% text_field "bio", class:"text" %}</div>
  </div>

  <div class="row">
  	<div class="small-12 medium-12 large-12 columns"><label for="signup_website">Website</label>{% text_field "website", class:"text" %}</div>
  </div>

  <div class="row">
  	<div class="columns"><label for="signup_profile_headline">Headline for your profile</label>{% text_field "profile_headline", class:"text" %}</div>
  </div>
  
  <div class="row">
  	<div class="columns">
  	  <label for="signup_profile_content_editable">Why do you support {{ site.name }}?</label>
 	  <div class="so_ie_does_not_put_this_in_the_footer">{% text_area "profile_content_editable", class:"textarea-tinymce" %}</div>
 	</div>
  </div>

	{% if settings.is_donor? %}
	<div class="row padtopmore">
		<div class="columns"><label for="signup_donations_to_raise_amount">I will commit to fundraising:</label>{% text_field "donations_to_raise_amount", class:"text" %}</div>
	</div>
	{% endif %}

	<div class="row">
		<div class="columns"><label class="checkbox" for="signup_is_survey_question_private">{% check_box "is_survey_question_private", class:"checkbox" %} Don't publish my survey question answers on the website</label></div>
	</div>

	<div class="row">
		<div class="columns"><label class="checkbox" for="signup_is_profile_searchable">{% check_box "is_profile_searchable", class:"checkbox" %} Allow search engines to find <a href="{{ signup.profile_url }}">my profile</a></label></div>
	</div>

	<div class="row">
		<div class="columns"><label class="checkbox" for="signup_is_leaderboardable">{% check_box "is_leaderboardable", class:"checkbox" %} Include me in leaderboards</label></div>
	</div>

	<div class="row">
		<div class="columns">
		  {% submit_tag "Save public settings", class:"submit-button" %}
		  <div class="form-submit"></div>
		</div>
	</div>

</div>

<hr />

<div class="form">  
  
  <h4>Private settings</h4>
  
  <div class="row padtopmore">
  	<div class="small-12 medium-6 large-6 columns"><label for="signup_email">Email</label>{% email_field "email", class:"text" %}</div>
    <div class="small-12 medium-6 large-6 columns"><label for="signup_mobile_number">Mobile</label>{% phone_field "mobile_number", class:"text" %}</div>
  </div>

  <div class="row">
	  <div class="small-12 medium-6 large-6 columns"><label class="checkbox" for="signup_email_opt_in">{% check_box "email_opt_in", class:"check_box" %} Receive emails</label></div>
    <div class="small-12 medium-6 large-6 columns"><label class="checkbox" for="signup_mobile_opt_in">{% check_box "mobile_opt_in", class:"check_box" %} Receive text messages</label></div>
	</div>

  <div class="row">  	
  	<div class="small-6 medium-6 large-6 columns"><label for="signup_work_phone_number">Work Phone</label>{% text_field "work_phone_number", class:"text" %}</div>
  	<div class="small-6 medium-6 large-6 columns"><label for="signup_phone_number">Home Phone</label>{% phone_field "phone_number", class:"text" %}</div>
  </div>

  <div class="row">
  	<div class="columns"><label for="signup_submitted_address">Address (Street, City, State, Postal code)</label>{% text_field "submitted_address", class:"text" %}</div>
  </div>

  <div class="row">
  	<div class="columns"><label class="checkbox" for="signup_is_volunteer">{% check_box "is_volunteer", class:"checkbox" %} I want to volunteer</label></div>
  </div>   
  
  <div class="row">
  	<div class="columns">
    {% submit_tag "Save private settings", class:"submit-button" %}
    <div class="form-submit"></div>
  	</div>
  </div>
  
</div>


{% endform_for %}

<div class="padtop">
  {% if request.current_signup.has_password? and request.current_signup.has_email? %}
  <a href="{{ request.new_password_reset_url }}">Reset your password</a>
  {% endif %}
</div>