/* Colours */
meta.foundation-version {
  font-family: "/5.1.0/"; }

meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

html, body {
  height: 100%; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility; }

a:hover {
  cursor: pointer; }

img,
object,
embed {
  max-width: 100%;
  height: auto; }

object,
embed {
  height: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.hide {
  display: none; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }
  img.img-circle {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

/* Colours */
#t7_timer {
  width: 220px;
  height: 55px;
  position: relative; }

#t7_vals {
  width: 100%;
  clear: both;
  margin: 0px auto; }

.t7_numbs {
  font-size: 28px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: left;
  color: white; }

#t7_y {
  background-image: url(//d3n8a8pro7vhmx.cloudfront.net/assets/countdown/countdown2-d59207f66ff5208ae524a59a34f0f412.png);
  background-repeat: no-repeat;
  float: left;
  width: 48px;
  height: 35px;
  background-color: transparent;
  padding: 0px 0px 0px 3px;
  margin: 1px;
  letter-spacing: 7px; }

#t7_d {
  background-image: url(//d3n8a8pro7vhmx.cloudfront.net/assets/countdown/countdown2-d59207f66ff5208ae524a59a34f0f412.png);
  background-repeat: no-repeat;
  float: left;
  width: 48px;
  height: 35px;
  background-color: transparent;
  padding: 0px 0px 0px 3px;
  margin: 1px;
  letter-spacing: 7px; }

#t7_h {
  background-image: url(//d3n8a8pro7vhmx.cloudfront.net/assets/countdown/countdown2-d59207f66ff5208ae524a59a34f0f412.png);
  background-repeat: no-repeat;
  float: left;
  width: 48px;
  height: 35px;
  background-color: transparent;
  padding: 0px 0px 0px 3px;
  margin: 1px;
  letter-spacing: 7px; }

#t7_m {
  background-image: url(//d3n8a8pro7vhmx.cloudfront.net/assets/countdown/countdown2-d59207f66ff5208ae524a59a34f0f412.png);
  background-repeat: no-repeat;
  float: left;
  width: 47px;
  height: 35px;
  background-color: transparent;
  padding: 0px 0px 0px 3px;
  margin: 1px;
  letter-spacing: 7px; }

#t7_s {
  background-image: url(//d3n8a8pro7vhmx.cloudfront.net/assets/countdown/countdown2-nc-4f109d66d692d7b9e9fea4d80e7e3480.png);
  background-repeat: no-repeat;
  float: left;
  width: 46px;
  height: 35px;
  background-color: transparent;
  padding: 0px 0px 0px 3px;
  margin: 1px;
  letter-spacing: 7px; }

#t7_labels {
  width: 100%;
  clear: both;
  margin: 0px auto; }

.t7_labs {
  position: relative;
  left: -4px;
  top: -10px;
  font-size: 9px;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #333333; }

#t7_yl {
  float: left;
  width: 51px;
  height: 15px;
  padding: 0px;
  margin: 0px; }

#t7_dl {
  float: left;
  width: 54px;
  height: 15px;
  padding: 0px;
  margin: 0px; }

#t7_hl {
  float: left;
  width: 45px;
  height: 15px;
  padding: 0px;
  margin: 0px; }

#t7_ml {
  float: left;
  width: 53px;
  height: 15px;
  padding: 0px;
  margin: 0px; }

#t7_sl {
  float: left;
  width: 46px;
  height: 15px;
  padding: 0px;
  margin: 0px; }

.countdown {
  width: 220px;
  height: 55px;
  text-align: center;
  line-height: 34px; }

ul.activities {
  margin: 3em 0 15px 0 !important;
  list-style: none; }

.activities li .stream-pic {
  float: left;
  width: 72px;
  height: 72px; }

.activities li .stream-pic a {
  display: block;
  width: 100%;
  height: 100%; }

.profile_image {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }

.activities li.activity {
  margin: 0 0 3em 0;
  border-top: 1px solid #ecf0f1;
  padding-top: 3em; }

.activities li .activity {
  margin: 0;
  padding-left: 100px;
  word-break: break-word; }

.activities li .activity .activity-content {
  padding-top: 1.9em; }

@media only screen and (max-width: 40em) {
  .activities li .stream-pic {
    float: left;
    width: 48px;
    height: 48px; }

  .activities li .stream-pic a {
    display: block;
    width: 100%;
    height: 100%; }

  .activities li .activity {
    margin: 0;
    padding-left: 60px;
    word-break: break-word; }

  .activities li .activity .activity-content {
    padding-top: 1.5em; } }
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
/* Colours */
#slider-cards {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 4.25rem;
  margin: .625em 0 1.625em 0; }
  #slider-cards .slider-card-wrap {
    position: absolute;
    left: 1680px;
    width: 9999px;
    top: 0;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out; }
  #slider-cards .slider-card {
    width: 10rem;
    position: relative;
    text-align: left;
    display: block;
    float: left;
    text-align: left; }
  #slider-cards .slider-card-profile {
    background: #f2f2f2;
    color: #333333;
    border-left: 4px solid #008cba;
    height: 4.25rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.625rem;
    position: relative;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    #slider-cards .slider-card-profile img {
      float: left;
      margin-right: .5em;
      height: 100%; }
    #slider-cards .slider-card-profile .slider-name {
      position: relative;
      line-height: 4.25rem;
      top: -.7em; }
      #slider-cards .slider-card-profile .slider-name a:link, #slider-cards .slider-card-profile .slider-name a:visited, #slider-cards .slider-card-profile .slider-name a:active {
        color: inherit; }

#main {
  margin-top: 1em; }

#user-nav img {
  max-height: 24px;
  margin-right: 5px; }

#columns-1, #columns-2 {
  padding-top: 1em; }

.table {
  display: table;
  margin: 0 auto; }

.big-section {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.section {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.padtopless {
  padding-top: 5px; }

.padtop {
  padding-top: 10px; }

.padtopmore {
  padding-top: 15px; }

.padbottomless {
  padding-bottom: 5px; }

.padbottom {
  padding-bottom: 10px; }

.padbottommore {
  padding-bottom: 15px; }

#flash {
  margin-bottom: 1em;
  background-color: #f04124; }

.notice {
  border: none;
  display: block;
  font-weight: normal;
  margin-bottom: 1.25rem;
  position: relative;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  background-color: #f04124;
  font-size: 0.8125rem;
  color: #333;
  max-width: 88em;
  margin: 0 auto;
  border: none; }

.flash-close {
  font-size: 1.375rem;
  padding: 0 9px 6px 4px;
  line-height: 0;
  position: absolute;
  top: 50%;
  margin: -0.6875rem 0 0 0;
  right: 0.25rem;
  color: #333333;
  opacity: 0.3;
  height: 1.375rem;
  background: transparent; }

.flash-close:hover {
  background: transparent; }

.success {
  background-color: #43ac6a !important;
  color: white !important; }

.error {
  background-color: #f08a24 !important;
  color: white !important; }

.alert-box.error {
  border-color: #f08a24; }

.alert-box .row {
  max-width: 88em; }

.form-errors {
  background-color: #f04124;
  color: white; }
  .form-errors h2 {
    font-size: 1.5rem;
    padding: 1rem;
    color: white !important; }
  .form-errors ul {
    list-style-type: disc;
    padding: 1rem; }

.label a {
  color: inherit; }

.sharetable {
  min-height: 39px; }
  .sharetable .facebook-cell,
  .sharetable .twitter-cell,
  .sharetable .gplus-cell {
    float: left;
    text-align: left;
    vertical-align: top; }
  .sharetable .facebook-cell {
    padding: 0 20px 15px 0;
    width: 200px; }
  .sharetable .twitter-cell {
    padding: 0 20px 0 0;
    width: 150px; }
    .sharetable .twitter-cell a {
      text-indent: -999em;
      display: inline-block; }
  .sharetable .gplus-cell {
    width: 52px; }

.like-page {
  margin-top: 15px; }

div.pagination {
  display: block;
  height: 1.5rem;
  margin-left: -0.3125rem; }

div.pagination li {
  height: 1.5rem;
  color: #222222;
  font-size: 0.875rem;
  margin-left: 0.3125rem; }

div.pagination li a {
  display: block;
  padding: 0.0625rem 0.625rem 0.0625rem;
  color: #999999;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

div.pagination li:hover a,
div.pagination li a:focus {
  background: #e6e6e6; }

div.pagination li.disabled a {
  cursor: default;
  color: #999999; }

div.pagination li.disabled:hover a, div.pagination li.disabled a:focus {
  background: transparent; }

div.pagination li.active a {
  background: #008cba;
  color: white;
  font-weight: bold;
  cursor: default; }

div.pagination li.active a:hover, div.pagination li.active a:focus {
  background: #008cba; }

div.pagination li {
  float: left;
  display: block; }

/* Pagination centred wrapper */
.pagination-centered {
  text-align: center; }

.pagination-centered div.pagination li {
  float: none;
  display: inline-block; }

small, small a.flash-close {
  font-size: .75rem; }

.event-detail {
  padding-bottom: 1rem; }
  .event-detail .subhead {
    font-weight: bold;
    padding-bottom: 0.5rem; }
  .event-detail .subtext {
    line-height: 1.2em; }

.byline {
  font-size: 0.8em;
  padding-bottom: 1rem; }

.inline-labels input, .inline-labels label {
  display: inline; }

.within {
  display: block;
  padding-bottom: 1rem;
  text-align: center; }
  @media only screen and (min-width: 64.063em) {
    .within {
      display: inline;
      padding-bottom: 0;
      text-align: left; } }

.fb_iframe_widget {
  line-height: 11px; }
