// ===================================================================================
// This is the stylesheet where you can override Foundation's default styles, which can
// be found in theme.scss. Any styles you add below will override the default stylesheet.
// =================================================================================== */

// Colors

@import "colors";
@import "countdown_timer";
@import "page_stream";

#main {
  margin-top: 1em;
}

#user-nav img {
  max-height: 24px;
  padding-right: 5px;
}

// Global Structure

#columns-1, #columns-2 {
  padding-top: 1em;
}

// Padding

.table {
  display: table;
  margin: 0 auto;
}

.big-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padtopless {
  padding-top: 5px;
}

.padtop {
  padding-top: 10px;
}

.padtopmore {
  padding-top: 15px;
}

.padbottomless {
  padding-bottom: 5px;
}

.padbottom {
  padding-bottom: 10px;
}

.padbottommore {
  padding-bottom: 15px;
}

// NationBuilder Alert Styles

#flash {
  margin-bottom: 1em;
  background-color: $alert-color;
}

.notice {
  border: none;
  display: block;
  font-weight: normal;
  margin-bottom: 1.25rem;
  position: relative;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  background-color: $alert-color;
  font-size: 0.8125rem;
  color: #333;
  max-width: 88em;
  margin: 0 auto;
  border: none;
}

.flash-close {
  font-size: 1.375rem;
  padding: 0 9px 6px 4px;
  line-height: 0;
  position: absolute;
  top: 50%;
  margin: -0.6875rem 0 0 0;
  right: 0.25rem;
  color: #333333;
  opacity: 0.3;
  height: 1.375rem;
  background: transparent;
}

.flash-close:hover {
  background: transparent;
}

.success {
  background-color: $success-color !important;
  color: white !important;
}

.error {
  background-color: $warning-color !important;
  color: white !important;
}

.alert-box.error {
  border-color: $warning-color;
}

.alert-box .row {
  max-width: 88em;
}

// Form Errors

.form-errors {
  background-color: #f04124;
  color: white;

  ul {
    list-style-type: none;
    padding: 10px;
  }
}

// Labels

.label a {
  color: inherit;
}

// Share table == layout for share buttons at the bottom of most pages

.sharetable {
  min-height: 39px;
  .facebook-cell,
  .twitter-cell,
  .gplus-cell {
    float: left;
    text-align: left;
    vertical-align: top;
  }
  .facebook-cell {
    padding: 0 20px 15px 0;
    width: 200px;
  }
  .twitter-cell {
    padding: 0 20px 0 0;
    width: 150px;

    a {
      text-indent: -999em;
      display: inline-block;
    }
  }
  .gplus-cell {
    width: 52px;
  }
}

.like-page {
  margin-top: 15px;
}

// Pagination

div.pagination {
  display: block;
  height: 1.5rem;
  margin-left: -0.3125rem; }
  div.pagination li {
    height: 1.5rem;
    color: #222222;
    font-size: 0.875rem;
    margin-left: 0.3125rem; }
    div.pagination li a {
      display: block;
      padding: 0.0625rem 0.625rem 0.0625rem;
      color: #999999;
      -webkit-border-radius: 3px;
      border-radius: 3px; }
    div.pagination li:hover a,
    div.pagination li a:focus {
      background: #e6e6e6; }
    div.pagination li.disabled a {
      cursor: default;
      color: #999999; }
    div.pagination li.disabled:hover a, div.pagination li.disabled a:focus {
      background: transparent; }
    div.pagination li.active a {
      background: #008cba;
      color: white;
      font-weight: bold;
      cursor: default; }
      div.pagination li.active a:hover, div.pagination li.active a:focus {
        background: #008cba; }
  div.pagination li {
    float: left;
    display: block; }

/* Pagination centred wrapper */
.pagination-centered {
  text-align: center; }
  .pagination-centered div.pagination li {
    float: none;
    display: inline-block; }

small, small a.flash-close {
  font-size: .75rem;
}

// Event Page Styles

.event-detail {
  padding-bottom: 1rem;

  .subhead {
    font-weight: bold;
    padding-bottom: 0.5rem;
  }

  .subtext {
    line-height: 1.2em;
  }
}

.byline {
  font-size: 0.8em;
  padding-bottom: 1rem;
}

.inline-labels {
  input, label {
    display: inline;
  }
}