<div class="onecolumn_container">
	<div class="onecolumn">

<div align="center" class="one_column">
<div class="form_wrap" align="left">
<div class="form">

  {% unless request.is_ajax? %}
  <div class="padtop">
 		<h2>Create a {{ site.name }} account</h2>
  </div>
  {% endunless %}

  {% form_for account %}

  	<div class="form_errors">{% error_messages_for account %}</div>

    <p><label for="account_email">Email</label><br>{% email_field "email", class:"text" %}</p>

  	<div class="padtop">
 	  	{% submit_tag "Send account activation instructions", class:"submit-button" %}
  	  <div class="form_submit"></div>
  	</div>

  	<div class="padtopmore">
  	  <a href="{{ request.new_password_reset_url }}">Reset my password</a>
  	</div>

		{% if request.logged_in? == false %}
  	<div class="padtop">
  	  or skip all the email stuff and connect instantly with:
  	</div>
  	<div class="padtop">
  	  <a href="{{ request.facebook_connect_url }}"><img src="{{ "signin_with_facebook.png" | asset_path }}"></a>
  	  <a href="{{ request.twitter_connect_url }}"><img src="{{ "signin_with_twitter.png" | asset_path }}"></a>
  	</div>
		{% endif %}

  {% endform_for %}

</div>
</div>
</div>

  </div>
</div>